version: '3.9'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ops
      POSTGRES_USER: ops
      POSTGRES_PASSWORD: xxx
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    container_name: ops-postgres

  ops.api:
    image: ${DOCKER_REGISTRY-}ops-api
    build:
      context: .
      dockerfile: OPS.API/Dockerfile
      target: runtime
    environment:
        ASPNETCORE_ENVIRONMENT: Development
    depends_on:
      - postgres
    #ports:
    #  - "3080:3080"
    container_name: ops-api
    #volumes:
    #   - ./api:/usr/src/app/api
    #   - /usr/src/app/api/node_modules

  ops.site:
    image: ${DOCKER_REGISTRY-}ops-ui
    build:
      context: .
      dockerfile: OPS.Site/Dockerfile
    environment:
        NODE_ENV: Development
        VUE_APP_API: "localhost:80"
    ports:
      - "8080:8080"
    container_name: ops-ui
    volumes:
       #- ./my-app:/usr/src/app/my-app
       - /usr/src/app/vue-ui/node_modules

volumes:
  postgres_data: