<div id="app">
    <div id="container">
        <div data-ng-view></div>
    </div>

    <div id="loading-modal" data-ng-show="countRequest > 0">
        <div class="modal-backdrop fade in"></div>
        <div id="loading-modal-text">
            <img class="loader-facebook" src="~/Content/images/ajax-loader-facebook.gif" />Processando
        </div>
    </div>
</div>
<script type="text/javascript">
    var DeputadoFederalUltimaAtualizacao = '@ViewBag.DeputadoFederalUltimaAtualizacao';
    var SenadorUltimaAtualizacao = '@ViewBag.SenadorUltimaAtualizacao';
</script>