<div class="container-fluid" data-ng-controller="DeputadoListaController">
	<form id="form" autocomplete="off">
		<div class="row">
			<div class="col-md-4 form-group form-group-sm">
				<label>Parlamentares</label>
				<select id="lstParlamentar" class="form-control input-sm" multiple></select>
			</div>
			<div class="col-md-4 form-group">
				<label>Despesas</label>
				<select id="lstDespesa" class="form-control input-sm" multiple></select>
			</div>
			<div class="col-md-4 form-group">
				<label>UF (Parlamentar)</label>
				<select id="lstUF" class="form-control input-sm" multiple></select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label>Partido</label>
				<select id="lstPartido" class="form-control input-sm" multiple></select>
			</div>
			<div class="col-md-4 form-group">
				<label>Fornecedor</label>
				<select id="lstFornecedor" class="form-control input-sm" multiple></select>
			</div>
			<div class="col-md-4 form-group">
				<label>Período</label>
				<select id="lstPerido" class="form-control input-sm">
					<option value="1">Mês Atual</option>
					<option value="2">Mês Anterior</option>
					<option selected="selected" value="3">Últimos 4 Meses</option>
					<option value="4">Ano Atual</option>
					<option value="5">Ano Anterior</option>
					<option value="6">Legislatura 2015-2019</option>
					<option value="7">Legislatura 2011-2015</option>
					<option value="8">Legislatura 2007-2011</option>
					<option value="0">Tudo</option>

				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-group">
				<label>Agrupamento</label>
				<select id="lstAgrupamento" class="form-control input-sm">
					<option value="2">Despesa</option>
					<option value="6">Documento</option>
					<option value="3">Fornecedor</option>
					<option selected="selected" value="1">Parlamentar</option>
					<option value="4">Partido</option>
					<option value="5">UF (Parlamentar)</option>
				</select>
			</div>
			<div class="col-md-4 form-group">
				<label class="show">&nbsp;</label>
				<input type="button" id="ButtonPesquisar" data-ng-click="Pesquisar();" value="Pesquisar" class="btn btn-success btn-sm" />
				<input type="button" value="Limpar Filtros" class="btn btn-default btn-sm" onclick="LimparFiltros();" />
				<a href="./deputado/exportar" class="btn btn-default btn-sm" onclick="setTimeout($loading.hide, 1000);">Exportar CSV</a>
			</div>
			<div class="col-md-4 form-group">
				<label class="show">&nbsp;</label>
				Última Atualização:
				@ViewBag.dtUltimaAtualizacao
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table ng-table="tableParams" class="table table-striped table-hover">
					<tr ng-repeat="row in $data" ng-include src="visao"></tr>
				</table>
			</div>
		</div>
	</div>

</div>

<script type="text/ng-template" id="parlamentar.html">
	<td data-title="'Nome'" style="width:50%" sortable="'NomeParlamentar'"><a href="#/deputado/{{row.IdeCadastro}}">{{row.NomeParlamentar}}</a></td>
	<td data-title="'UF'" style="width:10%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Partido'" style="width:20%" sortable="'SgPartido'">{{row.SgPartido}}</td>
	<td data-title="'Valor Total'" style="width:20%" sortable="'VlrTotal'">{{row.VlrTotal}}</td>
</script>

<script type="text/ng-template" id="despesa.html">
	<td data-title="'Despesa'" style="width:70%" sortable="'NomeParlamentar'"><a href="#/despeza/{{row.IdeDespesa}}">{{row.NomeDespesa}}</a></td>
	<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{row.VlrTotal}}</td>
</script>

<script type="text/ng-template" id="fornecedor.html">
	<td data-title="'Nome'" style="width:30%" sortable="'NomeParlamentar'"><a href="#/deputado/{{row.IdeCadastro}}">{{row.NomeParlamentar}}</a></td>
	<td data-title="'CNPJ/CPF'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Auditei'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Ultima NF'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Doador'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{row.VlrTotal}}</td>
</script>

<script type="text/ng-template" id="partido.html">
	<td data-title="'Partido'" style="width:70%" sortable="'NomePartido'"><a href="#/despeza/{{row.IdePartido}}">{{row.NomePartido}}</a></td>
	<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{row.VlrTotal}}</td>
</script>

<script type="text/ng-template" id="uf.html">
	<td data-title="'UF'" style="width:70%" sortable="'NomeParlamentar'"><a href="#/despeza/{{row.IdeDespesa}}">{{row.NomeDespesa}}</a></td>
	<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{row.VlrTotal}}</td>
</script>

<script type="text/ng-template" id="documento.html">
	<td data-title="'NF/Recibo'" style="width:30%" sortable="'NomeParlamentar'"><a href="#/deputado/{{row.IdeCadastro}}">{{row.NomeParlamentar}}</a></td>
	<td data-title="'Data Emissão'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'CNPJ/CPF'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Nome/Razão social'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Deputado'" style="width:30%" sortable="'SgUF'">{{row.SgUF}}</td>
	<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{row.VlrTotal}}</td>
</script>