/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body { /* Margin bottom by footer height */
    margin-bottom: 92px;
}

#navbar a {
    cursor: pointer;
    text-decoration: none;
}

    #navbar a.active, #navbar a:not(.social):not(.dropdown-item):not(.logo):hover {
        padding-bottom: 0.4rem !important;
        border-bottom: 0.1rem solid #f27474;
    }


.bg-landing-page {
  background: url(//static.ops.org.br/logo_opaca.jpg) no-repeat top 20px center;
}

.text-black {
    color: #000;
}

.topnav {
    font-size: 14px;
}

.intro-header {
    padding: 100px 0 120px;
    text-align: center;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

@media(max-width:768px) {
    .bg-landing-page {
        background-position: top 34px center;
    }
}

@media(max-width:650px) {
    .bg-landing-page {
        background-size: contain;
    }

    .intro-header {
        padding: 30px 0;
    }

    .list-inline > li {
        padding-right: 4px;
        padding-left: 4px;
    }

    .btn-group-lg > .btn, .btn-lg {
        padding: 7px 10px;
        font-size: 13px;
    }

    .cidadao-fiscal p label.radio-inline {
        display: block;
        margin-left: 0;
    }
}

.content-section {
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.box {
    border: 1px #ddd solid;
    box-shadow: 1px solid #9E9E9E;
    transition: all 3s;
    border-radius: 1%;
    padding: 10px;
    transition: 0.2s;
}

    .box:hover {
        box-shadow: 1px 2px 10px #9E9E9E;
    }

.resumo-gastos a {
    color: inherit;
}

    .resumo-gastos a:hover {
        text-decoration: none;
    }

.resumo-gastos .card-img {
    max-width: 90px;
}

.resumo-gastos .card-text {
    margin-bottom: 0;
}

.resumo-gastos .card-body {
    padding: .3rem;
}

.resumo-gastos .col-xs-12, .resumo-gastos .col-sm-6, .resumo-gastos .col-md-3 {
    padding-left: 5px;
    padding-right: 5px;
}

/*

.resumo-gastos .media-thumbnail { display: block; padding: 4px; line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: border .2s ease-in-out; -o-transition: border .2s ease-in-out; transition: border .2s ease-in-out; width: 100px; text-align: center; }
.resumo-gastos .page-header { padding-bottom: 0; margin: 0 0 10px; }
.resumo-gastos h5.media-heading { min-height: 30px; font-weight: 700; }*/
#img-patrocinar {
    min-width: 100px;
    max-width: 300px;
}

#loading-modal #loading-modal-text {
    width: 200px;
    line-height: 30px;
    position: fixed;
    background-color: #FFF;
    z-index: 9999;
    text-align: center;
    padding: 15px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #CCC;
}

    #loading-modal #loading-modal-text .loader-facebook {
        margin-right: 10px;
        margin-bottom: 2px;
    }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 92px;
    line-height: 45px;
}

    .footer a {
        color: #5d6266;
        padding-left: 20px;
    }

.bootstrap-select .dropdown-menu > li > a {
    white-space: normal;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 20px;
}

.box-deputado .box-item {
    margin: 10px auto;
}

    .box-deputado .box-item .box-item-title {
        font-size: 30px;
    }

.img-parlamentar {
    margin: 0 auto;
}

.img-deputado {
    margin: 0 auto;
    margin-top: 0;
    display: block;
}

@media(min-width:768px) {
    .img-deputado {
        margin-top: 6px;
    }

    .img-senador {
        margin-top: 9px;
    }
}

.dvg-painel-info-etiqueta {
    position: relative;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #dee1e7;
    color: #596679;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 58px;
    display: block;
}

    .dvg-painel-info-etiqueta > div.icon {
        float: left;
        width: 36px;
        height: 36px;
        border-radius: 50px;
        font-size: 20px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        background: #6DC6CD;
    }

    .dvg-painel-info-etiqueta > div.icon, .dvg-painel-info-etiqueta > div.text {
        margin-left: 10px;
        position: relative;
    }

    .dvg-painel-info-etiqueta > div.text {
        width: calc(100% - 65px);
    }

        .dvg-painel-info-etiqueta > div.text > h3 {
            font-size: 16px;
            font-weight: 700;
            margin-top: 2px !important;
            margin-bottom: 0 !important;
            text-align: left;
            padding-left: 0;
            min-height: 17px;
        }

        .dvg-painel-info-etiqueta > div.text > span {
            font-size: 12px;
            width: 100%;
            text-align: left;
            padding-left: 0;
            display: block;
        }

    .dvg-painel-info-etiqueta > div {
        float: left;
    }

a.no-link {
    color: inherit;
    cursor: default;
}

    a.no-link:hover, a.no-link:active {
        text-decoration: none;
    }

form.ng-submitted .form-control.ng-invalid {
    border: 1px solid red;
}

.omb_login .omb_socialButtons button {
    color: white;
    opacity: 0.9;
}

    .omb_login .omb_socialButtons button:hover {
        color: white;
        opacity: 1;
    }

.omb_login .omb_socialButtons .omb_btn-facebook {
    background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
    background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
    background: #c32f10;
}

.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

    .omb_login .omb_loginOr .omb_hrOr {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .omb_login .omb_loginOr .omb_spanOr {
        display: block;
        position: absolute;
        left: 50%;
        top: -0.6em;
        margin-left: -1.5em;
        background-color: white;
        width: 3em;
        text-align: center;
    }

@media screen and (max-width: 767px) {
    .table-responsive > .table {
        margin-bottom: 20px;
        padding: 0 10px;
    }
}

.panel-primary .panel-heading a {
    color: #fff;
}

.panel-danger > .panel-heading {
    color: #FFF;
    background-color: #f27474;
    border-color: #ebccd1;
}

.panel-danger .panel-heading a {
    color: #fff;
}

.page-title {
    padding: 10px 0;
    border-bottom: 2px solid #f27474;
    margin-top: 0;
    margin-bottom: 20px;
}

@media(max-width:500px) {
    #camara-legislatura, #senado-legislatura {
        display: block;
    }

        #camara-legislatura > label, #senado-legislatura > label {
            float: none;
            display: block;
            margin-bottom: 3px;
            border-radius: 4px;
        }
}

@media(min-width: 768px) {
    .form-home .form-control {
        width: 300px !important;
    }
}

.deputado .panel, .senador .panel {
    min-height: 240px;
}

.deputado h6, .senador h6 {
    min-height: 50px;
}

.deputado img, .senador img {
    width: 120px;
    height: 160px;
}

.bootstrap-select {
    border: 1px solid #e8e8e8;
}

.dataTables_wrapper td {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
