<div class="bg-landing-page" data-ng-controller="PrincipalController">
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="intro-message">
						<h1>Operação Política Supervisionada</h1>
						<h3>Indexador de dados públicos da verba indenizatória</h3>
						<hr class="intro-divider" />
						<h4>Além do projeto, uma solução real</h4>
						<p><a href="./#/sobre" class="text-black">Veja como a OPS já conseguiu recuperar R$5 milhões de dinheiro público</a></p>
						<hr class="intro-divider" />
						<p>Escolha uma casa legislativa que deseja explorar</p>
						<ul class="list-inline">
							<li>
								<a href="./#/deputado-federal" class="btn btn-primary btn-lg">Câmara dos Deputados</a>
							</li>
							<li>
								<a href="./#/senador" class="btn btn-primary btn-lg">Senado Federal</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid form-group">
		<h2>Campeões de Gastos</h2>
		<p>Os Parlamentares que mais gastaram dinheiro público da verba indenizatória da atual legislatura</p>
		<div class="resumo-gastos">
			<h4>Deputados Federais <small>(Desde fevereiro de 2015)</small></h4>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3" data-ng-repeat="gasto in CampeoesGastos.CamaraFederal track by $index">
					<a href="./#/deputado-federal/{{::gasto.Id}}">
						<div class="media ">
							<div class="media-left media-middle">
								<span class="media-thumbnail">
									<img src="" data-ng-src='./Content/Images/Parlamentares/DEPFEDERAL/{{::gasto.Id}}.jpg' alt='{{::gasto.NomeParlamentar}}' height="100">
								</span>
							</div>
							<div class="media-left media-middle">
								<h5 class="media-heading" title="Nome do parlamentar" data-ng-bind="::gasto.NomeParlamentar"></h5>
								<h5 class="media-heading text-muted" title="Partido/Estado" data-ng-bind="::gasto.PartidoEstado"></h5>
								<h4 class="media-heading text-danger" title="Valor gasto acumulado no mandato" data-ng-bind="::gasto.ValorTotal"></h4>
							</div>
						</div>
					</a>
				</div>
			</div>
			<hr />
			<h4>Senadores <small>(Desde fevereiro de 2010)</small></h4>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3" data-ng-repeat="gasto in CampeoesGastos.Senado track by $index">
					<a href="./#/senador/{{::gasto.Id}}">
						<div class="media ">
							<div class="media-left media-middle">
								<span class="media-thumbnail">
									<img src="" data-ng-src='./Content/Images/Parlamentares/SENADOR/{{::gasto.Id}}.jpg' alt='{{::gasto.NomeParlamentar}}' height="100">
								</span>
							</div>
							<div class="media-left media-middle">
								<h5 class="media-heading" title="Nome do parlamentar" data-ng-bind="::gasto.NomeParlamentar"></h5>
								<h5 class="media-heading text-muted" title="Partido/Estado" data-ng-bind="::gasto.PartidoEstado"></h5>
								<h4 class="media-heading text-danger" title="Valor gasto acumulado no mandato" data-ng-bind="::gasto.ValorTotal"></h4>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="content-section form-group">
		<div class="container-fluid">
			<h2>O que é a verba indenizatória?</h2>
			<p>A verba indenizatória é um recurso financeiro público disponibilizado a todos os deputados federais e senadores para o custeio de seus mandatos.</p>
			<p>Contrariando a lei de licitações, o uso deste dinheiro é feito sem licitação e basta o parlamentar apresentar a nota fiscal ou recibo.</p>
			<p>Tão facil que comprar um pãozinho.</p>
		</div>
	</div>

	<div class="container-fluid">
		<div class="media">
			<div class="media-body">
				<div class="box form-group">
					<div class="media ">
						<div class="media-left media-top">
							<span class="media-thumbnail">
								<img src="./Content/images/ops_fiscalize.png" alt="OPS Fiscalize" />
							</span>
						</div>
						<div class="media-left media-top">
							<h4 class="margin-top-5">OPS Fiscalize</h4>
							<p class="text-justify">Já está disponível o OPS Fiscalize, aplicativo que permite fiscalizar os gastos realizados por deputados federais com a verba indenizatória, dinheiro público destinado à reposição de despesas feitas pelos parlamentares no exercício do mandato.</p>
							<p class="text-justify">Disponível para Android e IOS, o OPS Fiscalize reúne, atualizadamente, os custos gerados por deputados da 55ª legislatura.</p>
							<div class="ops-fiscalize-button margin-bottom-0">
								<a href="https://play.google.com/store/apps/details?id=br.net.ops.fiscalize" class="btn btn-primary" target="_blank" rel="nofollow">Android&nbsp;<i class="glyphicon glyphicon-menu-right"></i></a>
								<a href="https://itunes.apple.com/br/app/ops-fiscalize/id1016302793?l=en&mt=8" class="btn btn-primary" target="_blank" rel="nofollow">IOS&nbsp;<i class="glyphicon glyphicon-menu-right"></i></a>
								<a href="https://www.microsoft.com/pt-br/store/apps/ops-fiscalize/9nblggh686vc" class="btn btn-primary" target="_blank" rel="nofollow">Windows Phone&nbsp;<i class="glyphicon glyphicon-menu-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="media-right">
				<a href="https://luciobig.com.br/pagina-para-doacoes_16-html/" class="media-thumbnail">
					<img id="img-patrocinar" src="https://luciobigdotcomdotbr.files.wordpress.com/2016/08/bot.png?w=354&amp;h=263" style="max-width: 200px">
				</a>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<h3 class="text-center">Deixe seu comentário</h3>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="fb-comments" data-href="http://ops.net.br" data-numposts="5" data-width="100%"></div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<dir-disqus config="disqusConfig"></dir-disqus>
			</div>
		</div>
	</div>

	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center" style="margin-top: 15px;">
						<div class="fb-like" data-href="http://ops.net.br" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" data-order-by="social"></div>
					</div>
					<p style="margin: 10px 0 0;" class="text-muted text-center">O controle social é indispensável para combatermos a corrupção em nosso país.</p>
				</div>
			</div>
		</div>
	</footer>
</div>

<div id="fb-root"></div>
<script>
	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1033624573364106";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
