i.tab-close { color: red; cursor: pointer; }

/* Grids Auditoria */
html, body { height: 100%; width: 100%; padding: 0px; margin: 0px; overflow: hidden; }
form#form_auditoria { height: 100%; overflow: hidden; }
div#container { height: 100%; overflow: hidden; }
div#conteudo { overflow: hidden; height: 100%; }

iframe { height: 100%; width: 100%; overflow: hidden; }
div#tab-content { height: 100%; overflow: hidden; padding-bottom: 60px; }
