html, body { height: 100%; width: 100%; padding: 0px; margin: 0px; overflow: auto; }

.panel-body .bg, .bg h1, .bg h2, .bg h3, .bg h4, .bg h5, .bg h6 { font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 700; }

form#form_auditoria { height: auto; overflow: auto; }

.bg { background: url(../images/logo_opaca.jpg) no-repeat top 1px center; }

.topnav { font-size: 14px; }

.lead { font-size: 18px; font-weight: 400; }

.intro-header { margin-top: -10px; padding: 80px 0; text-align: center; color: #f8f8f8; }

.intro-message > h1 { margin: 0; font-size: 4em; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.intro-divider { width: 400px; border-top: 1px solid #f8f8f8; border-bottom: 1px solid rgba(0,0,0,0.2); }

.intro-message > h3 { text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff; -webkit-font-smoothing: antialiased; color: #000; }

@media(max-width:650px) {
	.bg { background-size: contain; }

	.intro-header { padding: 10px 0; }

	.list-inline > li { padding-right: 4px; padding-left: 4px; }

	.btn-group-lg > .btn, .btn-lg { padding: 7px 10px; font-size: 13px; }
}

@media(max-width:768px) {
	.bg { background-position: top 34px center; }

	.intro-message > h1 { font-size: 3em; }

	.intro-divider { width: 100%; }

	.content-section-a h4, .ops-fiscalize-button { text-align: center; }
}

.content-section-a { padding: 30px 0 10px; background-color: #f8f8f8; }

	.content-section-a .ops-fiscalize-button div { display: inline-block; }

.content-section-b { padding: 50px 0; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }

.section-heading { margin-bottom: 30px; }

.section-heading-spacer { float: left; width: 200px; border-top: 3px solid #e7e7e7; }

.banner { padding: 10px 0; }

	.banner h2 { margin: 0; font-size: 3em; }

.bs-callout { padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }

.bs-callout-info { border-left-color: #1b809e; }

footer { padding: 0 0 15px; background-color: #f8f8f8; }


/* Cards */

.src-image { display: none; }

.cardCarregando { overflow: hidden; position: relative; border: 1px solid #CCC; border-radius: 8px; text-align: center; padding: 0; background-color: #1b809e; color: #000; }

.card { overflow: hidden; position: relative; border: 1px solid #CCC; border-radius: 8px; text-align: center; padding: 0; background-color: #FFFFFF; color: #000; }

	.card .avatar { position: relative; margin-top: 15px; z-index: 100; margin-bottom: 10px; }

.header-bgTituloCard { position: absolute; background-color: lightcyan; top: 0; left: 0; width: 100%; height: 70px; border-bottom: 1px #1b809e solid; z-index: 1; }

.header-desempenho { position: absolute; top: 0; left: 0; width: 100%; height: 70px; border-bottom: 1px #CCC solid; z-index: 1; }

.card .avatar img { width: 100px; height: 100px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; border: 5px solid rgba(0,0,30,0.8); }

.resumo-gastos .panel-body { padding-top: 30px; }

/* Fim cards*/
