<div class="container" data-ng-controller="DeputadoFederalSecretariosDetalhesController">
	<div class="form-group">
		<h3 class="page-title">Secretários Parlamentares do(a) dep(a). <a href="./#!/deputado-federal/{{::deputado_federal.id_cf_deputado}}">{{::deputado_federal.nome_parlamentar}}</a></h3>

		<div class="table-responsive">
			<table class="table table-striped table-hover table-sm">
				<thead>
					<tr>
						<th>Ponto</th>
						<th>Nome do Secretário</th>
						<th>Orgão de Origem</th>
						<th>Publicação do Ato</th>
					</tr>
				</thead>
				<tr ng-repeat="row in deputado_federal_secretarios">
					<td sortable="'id_cf_secretario'">{{::row.id_cf_secretario}}</td>
					<td sortable="'nome'">{{::row.nome}}</td>
					<td sortable="'orgao'">{{::row.orgao}}</td>
					<td sortable="'data'">{{::row.data}}</td>
				</tr>
			</table>
		</div>

		<p data-ng-if="deputado_federal.id_cf_gabinete">
			Fonte: <a target="_blank" href="http://www2.camara.leg.br/transparencia/recursos-humanos/servidores/lotacao/consulta-secretarios-parlamentares/layouts_transpar_quadroremuner_consultaSecretariosParlamentares?form.button.pesquisar=Pesquisar&b_start:int=0&lotacao={{::deputado_federal.id_cf_gabinete}}"  onclick="return trackOutboundLink(this, true);">Câmara de Deputados - Consulta de Secretários Parlamentares por lotação</a>
		</p>
	</div>

	<div class="form-group">
		<dir-disqus config="disqusConfig"></dir-disqus>
	</div>
</div>

