<div class="container-fluid" data-ng-controller="DeputadoFederalResumoController">

    <h3 class="page-title">Deputados federais</h3>

    <form id="form" autocomplete="off">
        <div class="row">
            <div class="form-group col-md-4">
                <label>Legislatura</label>
                <select id="lstPerido" class="form-control input-sm">
                    <option value="8">55º (2015-2019)</option>
                    <option value="7">54º (2011-2015)</option>
                    <option value="6">53º (2007-2011)</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Estado</label>
                <select id="lstUF" class="form-control input-sm" multiple data-actions-box="true"></select>
            </div>
            <div class="form-group col-md-4">
                <label>Partido</label>
                <select id="lstPartido" class="form-control input-sm" multiple data-actions-box="true"></select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <input type="button" id="ButtonPesquisar" data-ng-click="Pesquisar();" value="Pesquisar" class="btn btn-danger btn-sm" />
                <input type="button" value="Limpar filtros" class="btn btn-light btn-sm" data-ng-click="LimparFiltros();" />

                <small class="float-right text-muted" style="padding: 7px 0;">
                    Última Atualização em <span id="lblDeputadoFederalUltimaAtualizacao"></span>
                </small>
            </div>
        </div>
    </form>

    <div id="deputados">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" data-ng-repeat="deputado in deputados track by $index">
                <div class="box">
                    <a href="./#!/deputado-federal/{{::deputado.id_cf_deputado}}" title="Clique para visualizar o perfil do deputado(a)">
                        <h5 class="media-heading">{{::deputado.nome_parlamentar}} <small class="text-muted">{{::deputado.sigla_partido_estado}}</small></h5>
                        <div class="media ">
                            <div class="media-left media-middle">
                                <img src="" data-ng-src='./images/Parlamentares/DEPFEDERAL/{{::deputado.id_cf_deputado}}_120x160.jpg' alt='{{::deputado.nome_parlamentar}}' width="90" height="120">
                            </div>
                            <div class="media-left media-middle">
                                <small class="text-muted">CEAP</small>
                                <h4 class="media-heading text-danger" data-ng-bind="::deputado.valor_total_ceap"></h4>
                                <small class="text-muted">Frequência</small>
                                <h4 class="media-heading text-danger" data-ng-bind="::deputado.frequencia"></h4>
                                <small class="text-muted">Legislaturas</small>
                                <h4 class="media-heading text-danger" data-ng-bind="::deputado.legislaturas"></h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
