<div data-ng-controller="DeputadoVisualizarController">
    <div class="container">
        <h3 class="page-title">Deputado(a) Federal</h3>

        <div class="row form-group">
            <div class="col-xs-12 col-md-4 col-lg-2 text-center">
                <img class="img-thumbnail img-responsive img-deputado" src="./api/deputado/imagem/{{::deputado_federal.id_cf_deputado}}_120x160" alt="{{::deputado_federal.nome_parlamentar}}" width="130" height="170" />
            </div>
            <div class="col-xs-12 col-md-8 col-lg-10 text-left">
                <h4 style="margin-top: 0;">{{::deputado_federal.nome_parlamentar}} <small>({{::deputado_federal.sigla_partido}} / {{::deputado_federal.sigla_estado}})</small></h4>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0"><strong>Nome civil:</strong> {{::deputado_federal.nome_civil}}</p>
                        <p class="mb-0"><strong>Partido:</strong> {{::deputado_federal.nome_partido}}</p>
                        <p class="mb-0"><strong>Estado:</strong> {{::deputado_federal.nome_estado}}</p>
                        <p class="mb-0"><strong>Condição:</strong> {{::deputado_federal.condicao}} ({{::deputado_federal.situacao}})</p>
                        <p class="mb-0" data-ng-if="deputado_federal.profissao"><strong>Profissão:</strong> {{::deputado_federal.profissao}}</p>
                        <p class="mb-0" data-ng-if="deputado_federal.nome_municipio_nascimento"><strong>Naturalidade:</strong> {{::deputado_federal.nome_municipio_nascimento}} - {{::deputado_federal.sigla_estado_nascimento}}</p>
                        <p class="mb-0"><strong>Nascimento:</strong> {{::deputado_federal.nascimento}}</p>
                        <p class="mb-0" data-ng-if="deputado_federal.falecimento"><strong>Falecimento:</strong> {{::deputado_federal.falecimento}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <strong>Secretários parlamentares:</strong>
                            <a href="./#!/deputado-federal/{{::deputado_federal.id_cf_deputado}}/secretario" title="Clique para ver a lista de secretários">{{::deputado_federal.quantidade_secretarios}}</a>
                        </p>
                        <p class="mb-0">
                            <strong>Gasto Acumulado CEAP:</strong>
                            <a href="./#!/deputado-federal?IdParlamentar={{::deputado_federal.id_cf_deputado}}&Periodo=0&Agrupamento=6" title="Clique para ver os gastos com cota parlamentar em detalhes">R$ {{::deputado_federal.valor_total_ceap}}</a>
                        </p>
                        <p class="mb-0">
                            <a href="https://www.camara.leg.br/deputados/{{::deputado_federal.id_cf_deputado}}/biografia" target="_blank" onclick="return trackOutboundLink(this, true);">Visualizar <strong>biografia</strong></a>
                        </p>
                        <p class="mb-0" data-ng-show="deputado_federal.situacao!='Fim de Mandato'">
                            <a href="http://www.camara.leg.br/Internet/Deputado/dep_Detalhe.asp?id={{::deputado_federal.id_cf_deputado}}" target="_blank" onclick="return trackOutboundLink(this, true);">Visualizar <strong>página</strong> oficial</a>
                        </p>
                        <p class="mb-0"><strong>Telefone:</strong> {{::deputado_federal.telefone}}</p>
                        <p class="mb-0"><strong>Email:</strong> {{::deputado_federal.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header bg-light">
                Comparativo de gastos mensais com a cota parlamentar
            </div>
            <div class="card-body">
                <div id="deputados-gastos-por-mes"></div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12 col-sm-6" data-ng-if="MaioresNotas.length > 0">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <a class="float-right" href="./#!/deputado-federal?IdParlamentar={{::deputado_federal.id_cf_deputado}}&Periodo=0&Agrupamento=6">Ver lista completa</a>
                        Maiores Notas/Recibos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Beneficiário</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in MaioresNotas">
                                        <td><a data-ng-href="./#!/fornecedor/{{::row.id_fornecedor}}">{{::row.nome_fornecedor}}</a></td>
                                        <td><a href="./#!/deputado-federal/documento/{{::row.id_cf_despesa}}">{{::row.valor_liquido}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6" data-ng-if="MaioresFornecedores.length > 0">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <a class="float-right" href="./#!/deputado-federal?IdParlamentar={{::deputado_federal.id_cf_deputado}}&Periodo=0&Agrupamento=3">Ver lista completa</a>
                        Maiores fornecedores
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Beneficiário</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in MaioresFornecedores">
                                        <td><a data-ng-href="./#!/fornecedor/{{::row.id_fornecedor}}">{{::row.nome_fornecedor}}</a></td>
                                        <td><a href="./#!/deputado-federal?IdParlamentar={{::deputado_federal.id_cf_deputado}}&Fornecedor={{::row.id_fornecedor}}&Periodo=0&Agrupamento=6">{{::row.valor_total}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" id="deputados-presenca">
            <div class="card-header bg-light">
                Frequência nas Sessões Ordinárias
            </div>
            <div class="card-body">
                <div class="row form-group">
                    <div class="col-xs-12 col-sm-4">
                        <div id="deputados-presenca-total-percentual"></div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div id="deputados-presenca-anual"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <dir-disqus config="disqusConfig"></dir-disqus>
        </div>
    </div>
</div>


