<div data-ng-controller="SenadorVisualizarController">
    <div class="container">
        <h3 class="page-title">Senador(a)</h3>

        <div class="box-senador form-group">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-2 text-center">
                    <img class="img-thumbnail img-responsive img-senador" src="./api/senador/imagem/{{::senador.id_sf_senador}}_240x300"
                         title="{{::senador.nome_parlamentar}}" alt="{{::senador.nome_parlamentar}}" width="170" height="210" />
                </div>
                <div class="col-xs-12 col-md-8 col-lg-10 text-left">
                    <h3 style="margin-top: 0;">{{::senador.nome_parlamentar}} <small>({{::senador.sigla_partido}} / {{::senador.sigla_estado}})</small></h3>

                    <p class="mb-0"><strong>Nome civil:</strong> {{::senador.nome_civil}}</p>
                    <p class="mb-0"><strong>Partido:</strong> {{::senador.nome_partido}}</p>
                    <p class="mb-0"><strong>Estado:</strong> {{::senador.nome_estado}}</p>
                    <p class="mb-0"><strong>Nascimento:</strong> {{::senador.nascimento}}</p>
                    <p class="mb-0"><strong>Email:</strong> {{::senador.email}}</p>
                    <p class="mb-0">
                        <strong>Gasto Acumulado CEAPS:</strong>
                        <a href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Periodo=0&Agrupamento=6" title="Clique para ver os gastos com cota parlamentar em detalhes">R$ {{::senador.valor_total_ceaps}}</a>
                    </p>
                    <p class="mb-0"><a data-ng-href="http://www25.senado.leg.br/web/senadores/senador/-/perfil/{{::senador.id_sf_senador}}" href="#" target="_blank" onclick="return trackOutboundLink(this, true);">Ver página oficial no senado</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header bg-light">
                Comparativo de gastos mensais com a cota parlamentar
            </div>
            <div class="card-body">
                <div id="senadores-gastos-por-mes" class="form-group" style="padding-right: 10px"></div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <a class="float-right" href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Periodo=0&Agrupamento=6">Ver lista completa</a>
                        Maiores Notas/Recibos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Beneficiário</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in MaioresNotas">
                                        <td><a data-ng-href="./#!/fornecedor/{{::row.id_fornecedor}}">{{::row.nome_fornecedor}}</a></td>
                                        <td>{{::row.valor}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <a class="float-right" href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Periodo=0&Agrupamento=3">Ver lista completa</a>
                        Maiores fornecedores
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Beneficiário</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in MaioresFornecedores">
                                        <td><a data-ng-href="./#!/fornecedor/{{::row.id_fornecedor}}">{{::row.nome_fornecedor}}</a></td>
                                        <td><a href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Fornecedor={{::row.id_fornecedor}}&Periodo=0&Agrupamento=6">{{::row.valor_total}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <dir-disqus config="disqusConfig"></dir-disqus>
        </div>
    </div>

</div>


