<div class="container-fluid" data-ng-controller="DeputadoFederalSecretariosListaController">
	<fieldset>
		<legend>Secretários Parlamentares por Deputado Federal</legend>

		<div class="table-responsive">
			<table ng-table="tableParams" class="table table-striped table-hover">
				<tr ng-repeat="row in $data">
					<td><a class="btn btn-primary btn-sm" href="./#/deputado-federal/secretario/{{::row.IdCadastro}}">Ver Secretários</a></td>
					<td data-title="'Parlamentar'" style="width:70%" sortable="'NomeParlamentar'">{{::row.NomeParlamentar}}</td>
					<td data-title="'Quantidade'" style="width:20%" sortable="'Quantidade'">{{::row.Quantidade}}</td>
				</tr>
			</table>
		</div>
	</fieldset>
</div>

