<div class="container-fluid" data-ng-controller="FornecedorDetalhesController">
	<fieldset id="fsConsultaReceita" class="form-group" style="display: none;">
		<legend>Consulta de CNPJ na Receita Federal</legend>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="col-md-12">
					<div class="form-group img-captcha" style="height: 50px">
						<img id="captcha_img" title="Informe o texto da imagem" alt="Captcha" src="" />
						<a href="#" id="buscar-captcha-btn" class="btn btn-warning btn-sm" style="margin-left: 3px" title="Carregar outra imagem"><i class="glyphicon glyphicon-refresh"></i></a>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Digite o Captcha</label>
						<div class="input-group">
							<input type="text" id="img-input" value="" class="form-control input-sm input-sm" />
							<span class="input-group-btn">
								<button type="button" id="buscarDados-btn" class="btn btn-primary btn-sm">Buscar</button>
							</span>
						</div>
						<p class="bg-danger pull-left hidden msg" style="padding: 10px 20px;">
							<i class="glyphicon glyphicon-warning-sign"></i>&nbsp;<strong><span id="msgErro-span"></span></strong>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<p class="text-justify">
					O Captcha exibido é necessário para você consultar os dados do fornecedor na página da Receita Federal.<br />
					Após a consulta as informações do fornecedor serão salvas para as próximas consultas e para os próximos
					usuários que auditarem este fornecedor.<br />
					Caso tenha alguma dúvida entre em <a href="mailto:suporte@ops.net.br">contato</a>.
				</p>
			</div>
		</div>
		<br />
	</fieldset>
	<div class="row form-group" id="dvBotoesAcao">
		<div class="col-md-12 text-center">
			<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#dvQueProcurar">O Que Procurar?</a>
			<input type="button" id="ButtonAtualizar" value="Atualizar Dados" title="Reconsultar dados a partir da Receita Federal" class="btn btn-primary btn-sm" />
			@*<input type="button" id="ButtonDenunciar" value="Denunciar" title="Denunciar esse Fornecedor" class="btn btn-success btn-sm" />*@
			<input type="button" id="ButtonMaps" value="Pesquisar no Maps" title="Pesquisar Fornecedor no Maps" class="btn btn-default btn-sm" />
			<input type="button" id="ButtonPesquisa" value="Pesquisar no Google" title="Pesquisar Fornecedor no Google" class="btn btn-default btn-sm" />
			@*<input type="button" id="ButtonListarDeputados" value="Listar Parlamentares" title="Listar Todos os Parlamentares que Contrataram esse Fornecedor" class="btn btn-default btn-sm" />
				<input type="button" id="ButtonListarDocumentos" value="Solicitar/Listar Documentos" class="btn btn-default btn-sm" />
				<input type="button" id="ButtonListarDoacoes" value="Listar Doações Eleitorais" title="Listar Doações Eleitorais do Fornecedor" class="btn btn-primary btn-sm" />*@
		</div>
	</div>
	@*<fieldset id="fsMinhasDenuncias">
			<legend>Denúncias</legend>
			<div class="row">
				<div class="col-md-12">
					<div id="LabelExisteDenuncia" class="alert alert-danger"></div>
				</div>
				<div class="col-md-12">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>Nome/Nome Empresarial</th>
								<th>Qualificação</th>
								<th>Nome do Repres. Legal</th>
								<th>Qualif. Rep. Legal</th>
							</tr>
						</thead>
						<tbody data-ng-repeat="row in fornecedorDenuncias">
							<tr>
								<td data-ng-bind="row.Nome"></td>
								<td data-ng-bind="row.Qualificacao"></td>
								<td data-ng-bind="row.NomeRepresentanteLegal"></td>
								<td data-ng-bind="row.QualificacaoRepresentanteLegal"></td>
							</tr>
							<tr id="ltrSemDenuncias">
								<td colspan="4"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />
		</fieldset>*@
	<fieldset id="fsDadosReceita" class="form-group">
		<legend>Dados do Beneficiário/Fornecedor</legend>
		<div id="dvInfoDataConsultaCNPJ" class="alert alert-warning" data-ng-if="fornecedor.DataInclusao">
			As informações abaixo foram consultadas em {{fornecedor.DataInclusao}}. Clique <a href='#' onclick='ReconsultarDadosReceita(); return false;'>aqui</a> para atualizar.
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-briefcase"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.CnpjCpf"></h3>
						<span>CPNJ</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-flag"></i></div>
					<div class="text">
						<h3 data-ng-class="fornecedor.Situacao == 'ATIVA' ? 'text-success' : 'text-warning'" data-ng-bind="fornecedor.Situacao"></h3>
						<span>Situação Cadastral</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-usd"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.Doador ? 'Sim' : 'Não'"></h3>
						<span>Doador de campanha</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-briefcase"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.RazaoSocial"></h3>
						<span>Razão social / Nome empresarial</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-briefcase"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.NomeFantasia"></h3>
						<span>Nome fantasia / Título do estabelecimento</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
		</div>
	</fieldset>

	<div class="form-group text-center">
		<button class="btn btn-primary" type="button" id="btCollapseDadosEmpresaAdicional">Ver mais</button>
	</div>
	<div id="collapseDadosEmpresaAdicional" style="display:none" class="form-group">
		<div class="row">
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-calendar"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.DataAbertura"></h3>
						<span>Data de abertura</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-envelope"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.Email"></h3>
						<span>Endereço eletrônico (E-mail)</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-phone"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.Telefone"></h3>
						<span>Telefone</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-list"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.AtividadePrincipal"></h3>
						<span>Código e descrição da atividade econômica principal (CNAE)</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-list"></i></div>
					<div class="text">
						<h3 data-ng-bind-html="fornecedor.AtividadeSecundaria"></h3>
						<span>Código e descrição das atividades econômicas secundárias</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-list"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.NaturezaJuridica"></h3>
						<span>Código e descrição da natureza jurídica</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-calendar"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.DataSituacao"></h3>
						<span>Data da situação cadastral</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-alert"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.MotivoSituacao"></h3>
						<span>Motivo de situação cadastral</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-alert"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.SituacaoEspecial"></h3>
						<span>Situação especial</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-alert"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.DataSituacaoEspecial"></h3>
						<span>Data da situação especial</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="dvg-painel-info-etiqueta">
					<div class="icon"><i class="glyphicon glyphicon-globe"></i></div>
					<div class="text">
						<h3 data-ng-bind="fornecedor.EnteFederativoResponsavel"></h3>
						<span>Ente federativo responsável (EFR)</span>
					</div>
					<span class="clearfix"></span>
				</div>
			</div>
		</div>

		<fieldset class="form-group">
			<legend>Endereço</legend>
			<div class="row">
				<div class="col-md-6">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Logradouro"></h3>
							<span>Logradouro</span>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Numero"></h3>
							<span>Numero</span>
						</div>
						<span class="clearfix"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Complemento"></h3>
							<span>Complemento</span>
						</div>
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Bairro"></h3>
							<span>Bairro / Distrito</span>
						</div>
						<span class="clearfix"></span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Cidade"></h3>
							<span>Município / Cidade</span>
						</div>
						<span class="clearfix"></span>
					</div>
				</div>
				<div class="col-md-2">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Cep"></h3>
							<span>CEP</span>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="dvg-painel-info-etiqueta">
						<div class="icon"><i class="glyphicon glyphicon-map-marker"></i></div>
						<div class="text">
							<h3 data-ng-bind="fornecedor.Uf"></h3>
							<span>UF</span>
						</div>
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset id="fsQuadroSocietario" class="form-group">
			<legend>Quadro de Sócios e Administradores - QSA</legend>
			<div class="form-group">
				<div class="row">
					<div class="col-md-12">
						<div class="dvg-painel-info-etiqueta">
							<div class="icon"><i class="glyphicon glyphicon-usd"></i></div>
							<div class="text">
								<h3 data-ng-bind="fornecedor.CapitalSocial"></h3>
								<span>Capital Social</span>
							</div>
							<span class="clearfix"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<table class="table table-condensed table-striped">
							<thead>
								<tr>
									<th>Nome/Nome Empresarial</th>
									<th>Qualificação</th>
									<th>Nome do Repres. Legal</th>
									<th>Qualif. Rep. Legal</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="row in fornecedorQuadroSocietario" data-ng-show="::fornecedorQuadroSocietario.length>0">
									<td data-ng-bind="row.Nome"></td>
									<td data-ng-bind="row.Qualificacao"></td>
									<td data-ng-bind="row.NomeRepresentanteLegal"></td>
									<td data-ng-bind="row.QualificacaoRepresentanteLegal"></td>
								</tr>
								<tr data-ng-hide="::fornecedorQuadroSocietario.length>0">
									<td colspan="4" class="text-center">A natureza jurídica não permite o preenchimento do QSA</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</fieldset>
	</div>

	<fieldset class="form-group">
		<legend>Comparativo de recebimentos mensais pela cota parlamentar</legend>

		<div id="fornecedor-recebimentos-por-mes" class="form-group" style="padding-right: 10px"></div>
	</fieldset>

	<div class="row form-group">
		<div class="col-xs-12 col-sm-6">
			<fieldset>
				<legend><a href="#" data-ng-href="./#/deputado-federal?Fornecedor={{fornecedor.CnpjCpf}}&Periodo=8&Agrupamento=6">Deputados Federais</a></legend>

				<div class="table-responsive">
					<table class="table table-striped table-hover" data-ng-hide="DeputadoFederalMaioresGastos.length===0">
						<tr>
							<th style="width:80%">Parlamentar</th>
							<th style="width:20%">Valor</th>
						</tr>
						<tr ng-repeat="row in DeputadoFederalMaioresGastos">
							<td><a href="./#/deputado-federal/{{::row.IdCadastro}}">{{::row.NomeParlamentar}}</a></td>
							<td>{{::row.VlrLiquido}}</td>
						</tr>
					</table>
					<table class="table table-striped table-hover" data-ng-show="DeputadoFederalMaioresGastos.length===0">
						<tr>
							<td class="text-center">Nenhum registro encontrado</td>
						</tr>
					</table>
				</div>
			</fieldset>
		</div>
		<div class="col-xs-12 col-sm-6">
			<fieldset>
				<legend><a href="#" data-ng-href="./#/senador?Fornecedor={{fornecedor.CnpjCpf}}&Periodo=8&Agrupamento=6">Senadores</a></legend>

				<div class="table-responsive">
					<table class="table table-striped table-hover" data-ng-hide="SenadoresMaioresGastos.length===0">
						<tr>
							<th style="width:80%">Parlamentar</th>
							<th style="width:20%">Valor</th>
						</tr>
						<tr ng-repeat="row in SenadoresMaioresGastos">
							<td><a href="./#/deputado-federal/{{::row.IdCadastro}}">{{::row.NomeParlamentar}}</a></td>
							<td>{{::row.VlrLiquido}}</td>
						</tr>
					</table>
					<table class="table table-striped table-hover" data-ng-show="SenadoresMaioresGastos.length===0">
						<tr>
							<td class="text-center">Nenhum registro encontrado</td>
						</tr>
					</table>
				</div>
			</fieldset>
		</div>
	</div>

	<div class="form-group">
		<dir-disqus config="disqusConfig"></dir-disqus>
	</div>

	<div id="dvQueProcurar" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">O que procurar?</h4>
				</div>
				<div class="modal-body text-justify">
					<p>
						A primeira coisa que sugerimos é começar a investigar o fornecedor. Em várias fiscalizações que a OPS já realizou, a empresa esteva registrada em endereços que não condiziam com a realidade do local. Um exemplo é a de uma locadora que dizia funcionar aonde, na realidade havia uma padaria. Você pode utilizar o Google Maps ou o Street View (se estiver disponível) para avaliar a localização da empresa. Visite o local, se for possível.
					</p>
					<p>
						Outra sugestão é verificar se a empresa possui uma página na internet e se ela realmente fornece o serviço prestado ao parlamentar. A OPS já encontrou “empresas” que faturavam alguns milhões de reais tendo como clientes apenas políticos. Além disso, estas empresas não possuíam qualquer publicidade na internet ou em outro lugar. Empresas sérias não se escondem e são facilmente localizadas.
					</p>
					<p>
						O foco da OPS não é a empresa prestadora de serviço ou fornecedora de produtos ao parlamentar, mas a nossa experiência nos mostra que muitas vezes empresas fajutas eram abertas apenas para emitirem notas a parlamentares.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Entendi</button>
				</div>
			</div>
		</div>
	</div>
</div>
