<div class="container-fluid" data-ng-controller="FornecedorDetalhesController">
	<fieldset id="fsConsultaReceita">
		<legend>Consulta de CNPJ na Receita Federal</legend>
		<div class="row">
			<div class="col-md-4 col-md-offset-2">
				<div class="col-md-12">
					<div class="form-group img-captcha" style="height: 50px">
						<img id="captcha_img" title="Informe o texto da imagem" alt="Captcha" src="#" />
						<a href="#" id="buscar-captcha-btn" class="btn btn-warning btn-sm" style="margin-left: 3px" title="Carregar outra imagem"><i class="glyphicon glyphicon-refresh"></i></a>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Digite o Captcha</label>
						<div class="input-group">
							<input type="text" id="img-input" value="" class="form-control input-sm input-sm" />
							<span class="input-group-btn">
								<button type="button" id="buscarDados-btn" class="btn btn-primary btn-sm">Buscar</button>
							</span>
						</div>
						<p class="bg-danger pull-left hidden msg" style="padding: 10px 20px;">
							<i class="glyphicon glyphicon-warning-sign"></i>&nbsp;<strong><span id="msgErro-span"></span></strong>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<p class="text-justify">
					O Captcha exibido é necessário para você consultar os dados do fornecedor na página da Receita Federal.<br />
					Após a consulta as informações do fornecedor serão salvas para as próximas consultas e para os próximos
					usuários que auditarem este fornecedor.<br />
					Caso tenha alguma dúvida entre em <a href="mailto:suporte@ops.net.br">contato</a>.
				</p>
			</div>
		</div>
		<br />
	</fieldset>
	<div class="row" id="dvBotoesAcao">
		<div class="col-md-12 text-center">
			<a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#dvQueProcurar">O Que Procurar?</a>
			<input type="button" id="ButtonAtualizar" value="Atualizar Dados" title="Reconsultar dados a partir da Receita Federal" class="btn btn-primary btn-sm" />
			<input type="button" id="ButtonDenunciar" value="Denunciar" title="Denunciar esse Fornecedor" class="btn btn-success btn-sm" />
			<input type="button" id="ButtonMaps" value="Pesquisar no Maps" title="Pesquisar Fornecedor no Maps" class="btn btn-default btn-sm" />
			<input type="button" id="ButtonPesquisa" value="Pesquisar no Google" title="Pesquisar Fornecedor no Google" class="btn btn-default btn-sm" />
			<input type="button" id="ButtonListarDeputados" value="Listar Parlamentares" title="Listar Todos os Parlamentares que Contrataram esse Fornecedor" class="btn btn-default btn-sm" />
			<input type="button" id="ButtonListarDocumentos" value="Solicitar/Listar Documentos" class="btn btn-default btn-sm" />
			<input type="button" id="ButtonListarDoacoes" value="Listar Doações Eleitorais" title="Listar Doações Eleitorais do Fornecedor" class="btn btn-primary btn-sm" />
		</div>
	</div>
	@*<fieldset id="fsMinhasDenuncias">
			<legend>Denúncias</legend>
			<div class="row">
				<div class="col-md-12">
					<div id="LabelExisteDenuncia" class="alert alert-danger"></div>
				</div>
				<div class="col-md-12">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>Nome/Nome Empresarial</th>
								<th>Qualificação</th>
								<th>Nome do Repres. Legal</th>
								<th>Qualif. Rep. Legal</th>
							</tr>
						</thead>
						<tbody data-ng-repeat="row in fornecedorDenuncias">
							<tr>
								<td data-ng-bind="row.Nome"></td>
								<td data-ng-bind="row.Qualificacao"></td>
								<td data-ng-bind="row.NomeRepresentanteLegal"></td>
								<td data-ng-bind="row.QualificacaoRepresentanteLegal"></td>
							</tr>
							<tr id="ltrSemDenuncias">
								<td colspan="4"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />
		</fieldset>*@
	<fieldset id="fsDadosReceita">
		<legend>Cadastro nacional da pessoa jurídica</legend>
		<div id="dvInfoDataConsultaCNPJ" class="alert alert-warning">
			As informações abaixo foram consultadas em {{fornecedor.DataInclusao}}. Clique <a href='#' onclick='ReconsultarDadosReceita(); return false;'>aqui</a> para atualizar os dados a partir da Receita Federal.
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">CNPJ</label>
					<span id="lblCNPJ" class="control-label show" data-ng-bind="fornecedor.CnpjCpf"></span>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Data de abertura</label>
					<span id="lblDataAbertura" class="control-label show" data-ng-bind="fornecedor.DataAbertura"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Razão social / Nome empresarial </label>
					<span id="lblRazaoSocial" class="control-label show" data-ng-bind="fornecedor.RazaoSocial" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Nome fantasia / Título do estabelecimento</label>
					<span id="lblNomeFantasia" class="control-label show" data-ng-bind="fornecedor.NomeFantasia" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Código e descrição da atividade econômica principal (CNAE)</label>
					<span id="lblAtividadePrincipal" class="control-label show" data-ng-bind="fornecedor.AtividadePrincipal" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Código e descrição das atividades econômicas secundárias</label>
					<span id="lblAtividadeSecundaria" class="control-label show" data-ng-bind-html="fornecedor.AtividadeSecundaria"></span> 
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Código e descrição da natureza jurídica</label>
					<span id="lblCodigoDescricaoNaturezaJuridica" class="control-label show" data-ng-bind="fornecedor.NaturezaJuridica" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">Logradouro</label>
					<span id="lblLogradouro" class="control-label show" data-ng-bind="fornecedor.Logradouro" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label class="control-label">Numero</label>
					<span id="lblNumero" class="control-label show" data-ng-bind="fornecedor.Numero" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Complemento</label>
					<span id="lblComplemento" class="control-label show" data-ng-bind="fornecedor.Complemento" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Bairro / Distrito</label>
					<span id="lblBairro" class="control-label show" data-ng-bind="fornecedor.Bairro" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Município / Cidade</label>
					<span id="lblCidade" class="control-label show" data-ng-bind="fornecedor.Cidade" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label class="control-label">CEP</label>
					<span id="lblCep" class="control-label show" data-ng-bind="fornecedor.Cep" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label class="control-label">UF</label>
					<span id="lblUf" class="control-label show" data-ng-bind="fornecedor.Uf" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Situação Cadastral</label>
					<span id="lblSituacaoCadastral" class="control-label show" data-ng-bind="fornecedor.Situacao" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Data da situação cadastral</label>
					<span id="lblDataSituacaoCadastral" class="control-label show" data-ng-bind="fornecedor.DataSituacao" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Motivo de situação cadastral </label>
					<span id="lblMotivoSituacaoCadastral" class="control-label show" data-ng-bind="fornecedor.MotivoSituacao" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Situação especial</label>
					<span id="lblSituacaoEspecial" class="control-label show" data-ng-bind="fornecedor.SituacaoEspecial" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Data da situação especial</label>
					<span id="lblDataSituacaoEspecial" class="control-label show" data-ng-bind="fornecedor.DataSituacaoEspecial" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Ente federativo responsável (EFR)</label>
					<span id="lblEnteFederativoResponsavel" class="control-label show" data-ng-bind="fornecedor.EnteFederativoResponsavel" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Endereço eletrônico (E-mail)</label>
					<span id="lblEmail" class="control-label show" data-ng-bind="fornecedor.Email" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label">Telefone</label>
					<span id="lblTelefone" class="control-label show" data-ng-bind="fornecedor.Telefone" />
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset id="fsQuadroSocietario">
		<legend>Quadro de Sócios e Administradores - QSA</legend>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Capital Social</label>
					<span id="lblCapitalSocial" class="control-label show" data-ng-bind="fornecedor.CapitalSocial"></span>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>Nome/Nome Empresarial</th>
								<th>Qualificação</th>
								<th>Nome do Repres. Legal</th>
								<th>Qualif. Rep. Legal</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="row in fornecedorQuadroSocietario" data-ng-show="fornecedorQuadroSocietario.length>0">
								<td data-ng-bind="row.Nome"></td>
								<td data-ng-bind="row.Qualificacao"></td>
								<td data-ng-bind="row.NomeRepresentanteLegal"></td>
								<td data-ng-bind="row.QualificacaoRepresentanteLegal"></td>
							</tr>
							<tr data-ng-hide="fornecedorQuadroSocietario.length>0">
								<td colspan="4" class="text-center">A natureza jurídica não permite o preenchimento do QSA</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</fieldset>
	<div id="dvQueProcurar" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">O que procurar?</h4>
				</div>
				<div class="modal-body text-justify">
					<p>
						A primeira coisa que sugerimos é começar a investigar o fornecedor. Em várias fiscalizações que a OPS já realizou, a empresa esteva registrada em endereços que não condiziam com a realidade do local. Um exemplo é a de uma locadora que dizia funcionar aonde, na realidade havia uma padaria. Você pode utilizar o Google Maps ou o Street View (se estiver disponível) para avaliar a localização da empresa. Visite o local, se for possível.
					</p>
					<p>
						Outra sugestão é verificar se a empresa possui uma página na internet e se ela realmente fornece o serviço prestado ao parlamentar. A OPS já encontrou “empresas” que faturavam alguns milhões de reais tendo como clientes apenas políticos. Além disso, estas empresas não possuíam qualquer publicidade na internet ou em outro lugar. Empresas sérias não se escondem e são facilmente localizadas.
					</p>
					<p>
						O foco da OPS não é a empresa prestadora de serviço ou fornecedora de produtos ao parlamentar, mas a nossa experiência nos mostra que muitas vezes empresas fajutas eram abertas apenas para emitirem notas a parlamentares.
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Entendi</button>
				</div>
			</div>
		</div>
	</div>
</div>
