<div class="container-fluid" data-ng-controller="SenadorListaController">
	<fieldset>
		<legend>Cota para Exercício da Atividade Parlamentar do Senador (CEAPS)</legend>
		<form id="form" autocomplete="off">
			<div class="row">
				<div class="col-md-4 form-group form-group-sm">
					<label>Parlamentar</label>
					<select id="lstParlamentar" class="form-control input-sm" multiple></select>
				</div>
				<div class="col-md-4 form-group">
					<label>Despesa</label>
					<select id="lstDespesa" class="form-control input-sm" multiple></select>
				</div>
				<div class="col-md-4 form-group">
					<label>UF (Parlamentar)</label>
					<select id="lstUF" class="form-control input-sm" multiple></select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 form-group">
					<label>Partido</label>
					<select id="lstPartido" class="form-control input-sm" multiple></select>
				</div>
				<div class="col-md-4 form-group">
					<label>Fornecedor</label>
					<select id="lstFornecedor" class="form-control input-sm" multiple></select>
				</div>
				<div class="col-md-4 form-group">
					<label>Documento</label>
					<input type="text" id="txtDocumento" class="form-control input-sm" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 form-group">
					<label>Período</label>
					<select id="lstPerido" class="form-control input-sm">
						<option value="1">Mês Atual</option>
						<option value="2">Mês Anterior</option>
						<option value="3">Últimos 4 Meses</option>
						<option value="4">Ano Atual</option>
						<option value="5">Ano Anterior</option>
						<option value="6">Legislatura 2015-2019</option>
						<option value="7">Legislatura 2011-2015</option>
						<option value="8">Legislatura 2007-2011</option>
						<option value="0">Todas as Legislaturas</option>
					</select>
				</div>
				<div class="col-md-4 form-group">
					<label>Agrupar por</label>
					<select id="lstAgrupamento" class="form-control input-sm">
						<option value="3">Beneficiário/Fornecedor</option>
						<option value="2">Despesa</option>
						<option value="6">Nota Fiscal/Recibo</option>
						<option value="1">Parlamentar</option>
						<option value="4">Partido</option>
						<option value="5">UF (Parlamentar)</option>
					</select>
				</div>
				<div class="col-md-4 form-group">
					<label class="show">&nbsp;</label>
					<div class="btn-group btn-group-justified" role="group">
						<div class="btn-group" role="group">
							<input type="button" id="ButtonPesquisar" data-ng-click="Pesquisar();" value="Pesquisar" class="btn btn-success btn-sm" />
						</div>
						<div class="btn-group" role="group">
							<input type="button" value="Limpar filtros" class="btn btn-default btn-sm" data-ng-click="LimparFiltros();" />
						</div>
						@*<div class="btn-group" role="group">
								<a href="./deputado/exportar" class="btn btn-default btn-sm">Exportar CSV</a>
							</div>*@
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-warning text-center">
					<b>Valor Total no Período: R$ {{ValorTotal}}</b>
					<small class="help-block margin-bottom-0">Valor total considerando os filtros aplicados acima</small>
				</div>

				<div id="table-auditoria" class="table-responsive scroll-mark" ng-include="visao"></div>

				<div class="alert alert-info text-center">
					Última Atualização: @ViewBag.dtUltimaAtualizacao
					<small class="help-block margin-bottom-0">Data da última importação de dados do senado federal</small>
				</div>
			</div>
		</div>
	</fieldset>

	<div id="popover_content_wrapper" style="display: none">
		<input type="button" class="btn btn-success btn-sm btn-block" data-valor="3" value="Por Fornecedor" />
		<input type="button" class="btn btn-primary btn-sm btn-block" data-valor="1" value="Por Parlamentar" />
		<input type="button" class="btn btn-primary btn-sm btn-block" data-valor="2" value="Por Despesa" />
		<input type="button" class="btn btn-primary btn-sm btn-block" data-valor="4" value="Por Partido" />
		<input type="button" class="btn btn-primary btn-sm btn-block" data-valor="5" value="Por UF (Parlamentar)" />
		<input type="button" class="btn btn-primary btn-sm btn-block" data-valor="6" value="Por Documento" />
		<input type="button" class="btn btn-default btn-sm btn-block" data-valor="0" value="Cancelar" />
	</div>
</div>

<script type="text/ng-template" id="parlamentar.html">
	<table ng-table="tableParams" class="table table-striped table-hover">
		<tr ng-repeat="row in $data">
			<td><a tabindex="0" role="button" class="popover-link btn btn-primary btn-sm" data-valor="{{::row.IdCadastro}}" data-descricao="{{::row.NomeParlamentar}}">Detalhar</a></td>
			<td data-title="'Parlamentar'" style="width:50%" sortable="'NomeParlamentar'"><a href="./#/senador/{{::row.IdCadastro}}">{{::row.NomeParlamentar}}</a></td>
			<td data-title="'UF'" style="width:10%" sortable="'SiglaUf'">{{::row.SiglaUf}}</td>
			<td data-title="'Partido'" style="width:5%" sortable="'NomePartido'">{{::row.SiglaPartido}}</td>
			<td data-title="'Total NF/Recibos'" style="width:15%" sortable="'TotalNotas'">{{::row.TotalNotas}}</td>
			<td data-title="'Valor Total'" style="width:20%" sortable="'VlrTotal'">{{::row.VlrTotal}}</td>
		</tr>
	</table>
</script>

<script type="text/ng-template" id="despesa.html">
	<table ng-table="tableParams" class="table table-striped table-hover">
		<tr ng-repeat="row in $data">
			<td><a tabindex="0" role="button" class="popover-link btn btn-primary btn-sm" data-valor="{{::row.IdDespesa}}" data-descricao="{{::row.NomeDespesa}}">Detalhar</a></td>
			<td data-title="'Despesa'" style="width:70%" sortable="'NomeDespesa'">{{::row.NomeDespesa}}</td>
			@*TODO: Add Total de Notas e Valor Medio da Nota*@
			<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{::row.VlrTotal}}</td>
		</tr>
	</table>
</script>

<script type="text/ng-template" id="fornecedor.html">
	<table ng-table="tableParams" class="table table-striped table-hover">
		<tr ng-repeat="row in $data">
			<td><a tabindex="0" role="button" class="popover-link btn btn-primary btn-sm" data-valor="{{::row.Codigo}}" data-descricao="{{::row.NomeBeneficiario}}">Detalhar</a></td>
			<td data-title="'Beneficiário'" style="width:40%" sortable="'NomeBeneficiario'"><a data-ng-href="{{::row.Codigo ? './#/fornecedor/'+row.Codigo : 'javascript:void(0)'}}" data-ng-class="{'no-link':!row.Codigo}">{{::row.NomeBeneficiario}}</a></td>
			<td data-title="'CNPJ/CPF'" style="width:15%" sortable="'Codigo'">{{::row.Codigo}}</td>
			<td data-title="'UF'" style="width:5%" sortable="'SiglaUf'">{{::row.SiglaUf}}</td>
			@*<td data-title="'Auditei'" style="width:5%" sortable="'Auditei'">{{::row.Auditei}}</td>*@
			<td data-title="'Última NF'" style="width:10%" sortable="'DataUltimaNotaFiscal'">{{::row.DataUltimaNotaFiscal}}</td>
			<td data-title="'Doador'" style="width:5%" sortable="'Doador'">{{::row.Doador}}</td>
			<td data-title="'Valor Total'" style="width:15%" sortable="'VlrTotal'">{{::row.VlrTotal}}</td>
		</tr>
	</table>
</script>

<script type="text/ng-template" id="partido.html">
	<table ng-table="tableParams" class="table table-striped table-hover">
		<tr ng-repeat="row in $data">
			<td><a tabindex="0" role="button" class="popover-link btn btn-primary btn-sm" data-valor="{{::row.SiglaPartido}}" data-descricao="{{::row.SiglaPartido}}">Detalhar</a></td>
			<td data-title="'Partido'" style="width:70%" sortable="'NomePartido'">{{::row.SiglaPartido}}</td>
			@*TODO: Add Total de parlamentares e Media por parlamentar*@
			<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{::row.VlrTotal}}</td>
		</tr>
	</table>
</script>

<script type="text/ng-template" id="uf.html">
	<table ng-table="tableParams" class="table table-striped table-hover">
		<tr ng-repeat="row in $data">
			<td><a tabindex="0" role="button" class="popover-link btn btn-primary btn-sm" data-valor="{{::row.SiglaUf}}" data-descricao="{{::row.SiglaUf}}">Detalhar</a></td>
			<td data-title="'UF'" style="width:70%" sortable="'SiglaUf'">{{::row.SiglaUf}}</td>
			@*TODO: Add Total de parlamentares e Media por parlamentar*@
			<td data-title="'Valor Total'" style="width:30%" sortable="'VlrTotal'">{{::row.VlrTotal}}</td>
		</tr>
	</table>
</script>

<script type="text/ng-template" id="documento.html">
	<table ng-table="tableParams" class="table table-striped table-hover">
		<tr ng-repeat="row in $data">
			<td data-title="'Emissão'" style="width:10%" sortable="'DataEmissao'">{{::row.DataEmissao}}</td>
			<td data-title="'CNPJ/CPF'" style="width:10%" sortable="'Codigo'">{{::row.Codigo}}</td>
			<td data-title="'Beneficiário'" style="width:40%" sortable="'NomeBeneficiario'"><a data-ng-href="{{::row.Codigo ? './#/fornecedor/'+row.Codigo : 'javascript:void(0)'}}" data-ng-class="{'no-link':!row.Codigo}">{{::row.NomeBeneficiario}}</a></td>
			<td data-title="'Parlamentar'" style="width:30%" sortable="'NomeParlamentar'"><a href="./#/senador/{{::row.IdCadastro}}">{{::row.NomeParlamentar}}</a></td>
			<td data-title="'Valor Total'" style="width:10%" sortable="'VlrTotal'">{{::row.VlrTotal}}</td>
		</tr>
	</table>
</script>
