<div class="container-fluid" data-ng-controller="DeputadoListaController">
	<fieldset>
		<legend>Cota para Exercício da Atividade Parlamentar (CEAPs)</legend>
		<form id="form" autocomplete="off">
			<div class="well">
				Em breve
			</div>
		</form>
	</fieldset>
</div>
