<div class="container-fluid" data-ng-controller="FornecedorListaController">
	<form id="form" autocomplete="off">
		<div class="row">
			<div class="col-sm-6 col-md-offset-1 col-md-5 col-lg-offset-2 col-lg-4">
				<div class="input-group input-group-sm">
					<input type="text" class="form-control icon-search" tooltip data-title="Para limpar a pesquisa, limpe este campo e pressione enter" data-ng-model="filtro.PesquisaGeral" data-ng-enter="PesquisarGeral();" placeholder="Para pesquisar pressione o enter...">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>

						<div data-no-close class="row dropdown-menu dropdown-menu-right">
							<div class="col-md-12">
								<label for="txtCodigo"><strong>Pesquisa Avançada</strong></label>
							</div>
							<div class="col-md-12">
								<input type="text" class="form-control input-sm" id="txtNome" tooltip data-title="Nome do Animal" placeholder="Nome do Animal" data-ng-model="filtro.ANI_Nome">
							</div>
							<div class="col-md-12">
								<input type="text" class="form-control input-sm" id="txtNome" tooltip data-title="Nome do Proprietário" placeholder="Nome do Proprietário" data-ng-model="filtro.PRO_Nome">
							</div>
							<div class="col-md-12">
								<input type="text" class="form-control input-sm" id="txtNome" tooltip data-title="Nome da Raça" placeholder="Nome da Raça" data-ng-model="filtro.RAC_Nome">
							</div>
							<div class="col-md-12">
								<button class="btn btn-green btn-sm col-md-12" data-ng-click="Pesquisar();">
									<i class="ti-search"></i>
									<span class="mobile-button">Pesquisar</span>
								</button>
							</div>

						</div>
					</div>
				</div>

			</div>
		</div>
	</form>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table ng-table="tableParams" class="table table-striped table-hover">
					<tr ng-repeat="row in $data">
						<td data-title="'Razão Social'" style="width:30%" sortable="'Beneficiario'"><a href="#/fornecedor/{{row.CnpjCpf}}">{{row.Beneficiario}}</a></td>
						<td data-title="'CNPJ/CPF'" style="width:30%" sortable="'CnpjCpf'">{{row.CnpjCpf}}</td>
						<td data-title="'Doador'" style="width:30%" sortable="'Doador'"><i data-ng-if="row.Doador==1" class="glyphicon glyphicon-ok text-success"></i></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>


