<div data-ng-controller="BuscaController">
    <div class="container">
        <h3 class="page-title">Busca</h3>

        <form id="form" autocomplete="off" ng-submit="Pesquisar()">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" id="txtBusca" class="form-control input-sm" placeholder="Buscar por deputado, senador ou empresa" data-ng-model="filtro.q" />
                </div>

                <div class="col-md-12 form-group">
                    <input type="submit" id="ButtonPesquisar" value="Pesquisar" class="btn btn-danger btn-sm" />
                </div>
            </div>
        </form>

        <div class="alert alert-warning" data-ng-show="deputado_federal.length===0&&senador.length===0&&fornecedor.length===0">
            Nenhum resultado encontrado!
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 form-group" data-ng-hide="deputado_federal.length===0">
                <h4>{{::deputado_federal.length}} deputado(s) encontrado(s)</h4>
                <div class="row deputado-conheca">
                    <div class="col-xs-12 col-sm-6 col-md-4 deputado" data-ng-repeat="deputado in deputado_federal track by $index">
                        <div class="card form-group">
                            <div class="card-header bg-light">
                                <a href="./#!/deputado-federal/{{::deputado.id_cf_deputado}}" title="Clique para visualizar o perfil do deputado(a)">
                                    {{::deputado.nome_parlamentar}}
                                </a>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <a href="./#!/deputado-federal/{{::deputado.id_cf_deputado}}" title="Clique para visualizar o perfil do deputado(a)">
                                        <div class="afkl-lazy-wrapper media-thumbnail" afkl-lazy-image="./api/deputado/imagem/{{deputado.id_cf_deputado}}"></div>
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-3">
                                        <h6 class="card-title mb-0" data-ng-bind="::deputado.nome_civil"></h6>
                                        <p class="mb-0">
                                            <span title="{{::deputado.nome_partido}}">{{::deputado.sigla_partido}}</span> - <span title="{{::deputado.nome_estado}}">{{::deputado.sigla_estado}}</span><br />
                                            <small class="text-muted">Cota parlamentar</small><br />
                                            R$ {{::deputado.valor_total_ceap}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group" data-ng-hide="senador.length===0">
                <h4>{{::senador.length}} senadores encontrados</h4>
                <div class="row senador-conheca">
                    <div class="col-xs-12 col-sm-6 col-md-4 senador" data-ng-repeat="senador in senador track by $index">
                        <div class="card form-group">
                            <div class="card-header bg-light">
                                <a href="./#!/senador/{{::senador.id_sf_senador}}" title="Clique para visualizar o perfil do senador(a)">
                                    {{::senador.nome}}
                                </a>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <a href="./#!/senador/{{::senador.id_sf_senador}}" title="Clique para visualizar o perfil do senador(a)">
                                        <div class="afkl-lazy-wrapper media-thumbnail" afkl-lazy-image="./api/senador/imagem/{{senador.id_sf_senador}}_120x160"></div>
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-3">
                                        <h6 class="card-title mb-0" data-ng-bind="::senador.nome_completo"></h6>
                                        <p class="mb-0">
                                            <span title="{{::senador.nome_partido}}">{{::senador.sigla_partido}}</span> - <span title="{{::senador.nome_estado}}">{{::senador.sigla_estado}}</span><br />
                                            <small class="text-muted">Cota parlamentar</small><br />
                                            R$ {{::senador.valor_total_ceaps}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" data-ng-hide="fornecedor.length===0">
                <div class="row fornecedor-conheca">
                    <div class="list-group form-group" style="width: 100%">
                        <a href="javascript:;" class="list-group-item active">
                            {{::fornecedor.length}} empresas encontradas
                        </a>
                        <a data-ng-repeat="fornecedor in fornecedor track by $index" href="./#!/fornecedor/{{::fornecedor.id_fornecedor}}" class="list-group-item">
                            {{::fornecedor.cnpj}} - {{::fornecedor.estado}}<br />
                            {{::fornecedor.nome_fantasia}}<br />
                            {{::fornecedor.nome}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
