################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs/config
/bin
/Content/images/Parlamentares
/obj/Debug
