<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuditoriaContext" connectionString="server=mysql873.umbler.com;port=41890;user id=ops-auditoria;password=;persistsecurityinfo=True;database=ops-auditoria;Convert Zero Datetime=True;Allow Zero Datetime=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
	<appSettings>
		<add key="EmailComunicacao" value=""/>
		<add key="SenhaEmailComunicacao" value=""/>
	</appSettings>
	<system.web>
		<authentication mode="None"/>
		<compilation debug="true" targetFramework="4.6"/>
		<httpRuntime maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647" maxQueryStringLength="9999"
			targetFramework="4.5.1"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="false">
			<!-- disable authorization section -->
			<remove name="UrlAuthorization"/>
			<!-- disable unused authentication schemes -->
			<remove name="WindowsAuthentication"/>
			<remove name="PassportAuthentication"/>
			<!-- disable ACL file and directory check -->
			<!-- <remove name="FileAuthorization" /> -->
			<!-- We don't use ASP.NET Profiles -->
			<remove name="Profile"/>
			<!-- We don't provide any WCF service -->
			<remove name="ServiceModel"/>
			<!-- Remove modules not used by ASP.NET MVC + jQuery -->
			<remove name="ScriptModule-4.0"/>

			<remove name="FormsAuthentication"/>
			<remove name="DefaultAuthentication"/>
			<remove name="OutputCache"/>
			<remove name="AnonymousIdentification"/>
			<remove name="RoleManager"/>

			<remove name="FormsAuthenticationModule"/>
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
			<remove name="OPTIONSVerbHandler"/>
			<remove name="TRACEVerbHandler"/>
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
				preCondition="integratedMode,runtimeVersionv4.0"/>
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647"/>
			</requestFiltering>
		</security>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<staticContent>
			<remove fileExtension=".js"/>
			<mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8"/>
			<!-- Caching-->
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00"/>
		</staticContent>
        <httpProtocol allowKeepAlive="true">
            <customHeaders>
              <remove name="X-Powered-By"/>
            </customHeaders>
        </httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
				type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
</configuration>