<div class="container-fluid" data-ng-controller="DeputadoFederalSecretariosListaController">
	<fieldset>
		<legend>Secretários Parlamentares por Deputado Federal</legend>

		<div class="table-responsive scroll-mark">
			<table ng-table="tableParams" class="table table-striped table-hover">
				<tr ng-repeat="row in $data">
					<td><a class="btn btn-primary btn-sm" href="./#!/deputado-federal/{{::row.id_cf_deputado}}/secretario">Ver Secretários</a></td>
					<td data-title="'Parlamentar'" style="width:70%" sortable="'nome_parlamentar'" filter="{ 'NomeParlamentar': 'text' }">{{::row.nome_parlamentar}}</td>
					<td data-title="'Secretários'" style="width:20%" sortable="'quantidade_secretarios'">{{::row.quantidade_secretarios}}</td>
				</tr>
			</table>
		</div>

		<p>
			Fonte: <a target="_blank" href="http://www2.camara.leg.br/transparencia/recursos-humanos/servidores/lotacao/consulta-secretarios-parlamentares"  onclick="return trackOutboundLink(this, true);">Câmara de Deputados - Consulta de Secretários Parlamentares por lotação</a>
		</p>
	</fieldset>
</div>

