<div class="container-fluid" data-ng-controller="DeputadoDocumentoVisualizarController">
    <div class="alert alert-warning" role="alert">
        Atenção: Essa URL é dinâmica e pode mudar, portanto não a utilize para compartilhamento.
        Para compartilhamento utilize esse <a href="#" data-ng-href="{{::documento.url_documentos_Deputado_beneficiario}}">link</a>.
    </div>

    <fieldset>
        <legend>Nota Fiscal: {{::documento.numero_documento || documento.id_documento}}</legend>

        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <p><label>Nome Parlamentar:</label> <a href="#" data-ng-href="./#!/deputado-federal/{{::documento.id_cf_deputado}}" title="Visualisar perfil do parlamentar">{{::documento.nome_parlamentar}}</a></p>
                </div>
                <div class="col-md-4">
                    <p><label>Partido / UF:</label> {{::documento.sigla_partido}} / {{::documento.sigla_estado}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p><label>Beneficiário:</label> <a href="#" data-ng-href="{{::documento.url_beneficiario}}" title="Visualizar perfil do beneficiario">{{::documento.nome_fornecedor}}</a></p>
                </div>
                <div class="col-md-4">
                    <p><label>CNPJ / CPF:</label> <a href="#" data-ng-href="{{::documento.url_beneficiario}}" title="Visualizar perfil do beneficiario">{{::documento.cnpj_cpf}}</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <p><label>Despesa:</label> {{::documento.descricao_despesa}}</p>
                </div>
                <div class="col-md-4">
                    <p><label>Data do pedido de reembolso:</label> {{::documento.competencia}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><label>Valor da Despesa:</label> {{::documento.valor_documento}}</p>
                </div>
                <div class="col-md-4">
                    <p><label>Valor Reembolsado:</label> {{::documento.valor_liquido}}</p>
                </div>
                <div class="col-md-4">
                    <p><label>Data da Despesa:</label> {{::documento.data_emissao}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p><label>Tipo do Documento:</label> {{::documento.tipo_documento}}</p>
                </div>
                <div class="col-md-4" data-ng-if="::documento.nome_passageiro">
                    <p><label>Nome do Passageiro:</label> {{::documento.nome_passageiro}}</p>
                </div>
                <div class="col-md-4" data-ng-if="::documento.trecho_viagem">
                    <p><label>Trecho da Viagem:</label> {{::documento.trecho_viagem}}</p>
                </div>
            </div>
        </div>

        <div class="form-group text-center">
            <a href="#" data-ng-href="{{::documento.url_documentos_Deputado_beneficiario}}" class="btn btn-primary">Ver todas as notas do deputado para o beneficiário.</a>
        </div>

        <div class="form-group text-center">
            <p></p>
            <span data-ng-if="::documento.id_documento">
                <a class="btn btn-danger" href="#" data-ng-href="{{documento.url_documento}}" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Nota/Recibo&nbsp;<i class="fa fa-download"></i></a>
                <a class="btn btn-default" href="#" data-ng-href="{{documento.url_detalhes_documento}}" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Detalhes da nota/recibo&nbsp;<i class="fa fa-plus"></i></a>
            </span>
            <a class="btn btn-default" href="#" data-ng-href="{{documento.url_demais_documentos_mes}}" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Demais Notas do mês&nbsp;<i class="fa fa-plus"></i></a>
        </div>
    </fieldset>
</div>
