<div class="container-fluid" data-ng-controller="DeputadoFederalSecretariosDetalhesController">
	<fieldset class="form-group">
		<legend>Secretários Parlamentares de <a href="./#/deputado-federal/{{::id_cf_deputado}}">{{::nome_parlamentar}}</a></legend>

		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Nome do Secretário</th>
					</tr>
				</thead>
				<tr ng-repeat="row in deputado_federal_secretarios">
					<td style="width:90%" sortable="'NomeSecretario'">{{::row.nome_secretario}}</td>
				</tr>
			</table>
		</div>
	</fieldset>

	<div class="form-group">
		<dir-disqus config="disqusConfig"></dir-disqus>
	</div>
</div>

