<div data-ng-controller="FornecedorController">
    <div class="container">
        <div class="form-group" data-ng-if="fornecedor.genero==='nd'">
            <h2 class="page-title">Dados do Beneficiário</h2>
            <div class="col-md-12">
                <p><label>Nome:</label> {{fornecedor.nome}}</p>
            </div>
        </div>

        <div id="fsDadosReceita" class="form-group" data-ng-if="fornecedor.genero==='pf'">
            <h2 class="page-title">Dados do Beneficiário</h2>

            <div class="row">
                <div class="col-md-4">
                    <p><label>CPF:</label> {{::fornecedor.cnpj_cpf}}</p>
                </div>
                <div class="col-md-4">
                    <p><label>Nome:</label> {{::fornecedor.nome}}</p>
                </div>
                <div class="col-md-4">
                    <p><label>Doador de campanha:</label> <span data-ng-bind="fornecedor.doador == 1 ? 'Sim' : 'Não'"></span></p>
                </div>
            </div>
        </div>

        <div id="fsConsultaReceita" class="form-group" data-ng-if="fornecedor.genero==='pj'" style="display: none;">
            <h2 class="page-title">Consulta de CNPJ na Receita Federal</h2>
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <div class="col-md-12">
                        <div class="form-group img-captcha" style="height: 50px">
                            <img id="captcha_img" title="Informe o texto da imagem" alt="Captcha" src="" />
                            <a data-ng-click="BuscarCaptchaReceita()" class="btn btn-warning btn-sm" style="margin-left: 3px" title="Carregar outra imagem"><i class="fa fa-refresh"></i></a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Digite o Captcha</label>
                            <div class="input-group">
                                <input type="text" id="img-input" value="" class="form-control input-sm input-sm" />
                                <span class="input-group-btn">
                                    <button type="button" id="buscarDados-btn" class="btn btn-danger btn-sm" data-ng-click="ConsultarCNPJ();">Buscar</button>
                                </span>
                            </div>
                            <p class="bg-danger pull-left hidden msg" style="padding: 10px 20px;">
                                <i class="fa fa-exclamation-triangle"></i>&nbsp;<strong><span id="msgErro-span"></span></strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="text-justify">
                        O Captcha exibido é necessário para você consultar os dados do fornecedor na página da Receita Federal.<br />
                        Após a consulta as informações do fornecedor serão salvas para as próximas consultas e para os próximos
                        usuários que auditarem este fornecedor.<br />
                        Caso tenha alguma dúvida entre em <a href="mailto:suporte@ops.net.br">contato</a>.
                    </p>
                </div>
            </div>
        </div>

        <!--<fieldset id="fsMinhasDenuncias">
                <legend>Denúncias</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div id="LabelExisteDenuncia" class="alert alert-danger"></div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>Nome/Nome Empresarial</th>
                                    <th>Qualificação</th>
                                    <th>Nome do Repres. Legal</th>
                                    <th>Qualif. Rep. Legal</th>
                                </tr>
                            </thead>
                            <tbody data-ng-repeat="row in fornecedorDenuncias">
                                <tr>
                                    <td data-ng-bind="row.Nome"></td>
                                    <td data-ng-bind="row.Qualificacao"></td>
                                    <td data-ng-bind="row.NomeRepresentanteLegal"></td>
                                    <td data-ng-bind="row.QualificacaoRepresentanteLegal"></td>
                                </tr>
                                <tr id="ltrSemDenuncias">
                                    <td colspan="4"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
            </fieldset>-->

        <div id="fsDadosReceita" class="form-group" data-ng-if="fornecedor.genero==='pj'">
            <h2 class="page-title">Dados do Beneficiário</h2>

            <div class="row form-group" id="dvBotoesAcao">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#dvQueProcurar">O Que Procurar?</a>
                    <input id="btnReconsultarDadosReceita" type="button" data-ng-click="ReconsultarDadosReceita()" value="Atualizar Dados" title="Reconsultar dados a partir da Receita Federal" class="btn btn-primary btn-sm"  style="display: none;" />
                    <!--<input type="button" id="ButtonDenunciar" value="Denunciar" title="Denunciar esse Fornecedor" class="btn btn-danger btn-sm" />-->
                    <input type="button" data-ng-click="PesquisarNoMaps(fornecedor)" value="Pesquisar no Maps" title="Pesquisar Fornecedor no Maps" class="btn btn-default btn-sm" />
                    <input type="button" data-ng-click="PesquisarNoGoogle(fornecedor)" value="Pesquisar no Google" title="Pesquisar Fornecedor no Google" class="btn btn-default btn-sm" />
                    <!--<input type="button" id="ButtonListarDeputados" value="Listar Parlamentares" title="Listar Todos os Parlamentares que Contrataram esse Fornecedor" class="btn btn-default btn-sm" />
                    <input type="button" id="ButtonListarDocumentos" value="Solicitar/Listar Documentos" class="btn btn-default btn-sm" />
                    <input type="button" id="ButtonListarDoacoes" value="Listar Doações Eleitorais" title="Listar Doações Eleitorais do Fornecedor" class="btn btn-primary btn-sm" />-->
                </div>
            </div>

            <div id="dvInfoDataConsultaCNPJ" class="alert alert-warning" data-ng-if="fornecedor.obtido_em">
                As informações abaixo foram atualizadas em {{fornecedor.obtido_em}}. <!--Clique <a href='javascript:void(0);' data-ng-click="ReconsultarDadosReceita()">aqui</a> para atualizar.-->
            </div>

            <div class="row">
                <div class="col-md-3">
                    <p><label>CNPJ:</label> {{::fornecedor.cnpj_cpf}}</p>
                </div>
                <div class="col-md-3">
                    <p><label>Tipo:</label> {{fornecedor.tipo}}</p>
                </div>
                <div class="col-md-3">
                    <p><label>Situação Cadastral:</label> <span data-ng-class="fornecedor.situacao_cadastral == 'ATIVA' ? 'text-success' : 'text-warning'" data-ng-bind="fornecedor.situacao_cadastral"></span></p>
                </div>
                <div class="col-md-3">
                    <p><label>Doador de campanha:</label> <span data-ng-bind="fornecedor.doador == 1 ? 'Sim' : 'Não'"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><label>Razão social:</label> {{fornecedor.nome}}</p>
                </div>
                <div class="col-md-6">
                    <p><label>Nome fantasia:</label> {{fornecedor.nome_fantasia}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><label>Endereço:</label> {{fornecedor.logradouro}}, {{fornecedor.numero}} - {{fornecedor.bairro}}<span data-ng-if="complemento">, {{fornecedor.complemento}}</span>, {{fornecedor.cep}}, {{fornecedor.cidade}}, {{fornecedor.estado}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p><label>Data de abertura:</label> {{fornecedor.data_de_abertura}}</p>
                </div>
                <div class="col-md-3">
                    <p><label>E-mail:</label> {{fornecedor.endereco_eletronico}}</p>
                </div>
                <div class="col-md-3">
                    <p><label>Telefone:</label> {{fornecedor.telefone}}</p>
                </div>
                <div class="col-md-3" data-ng-if="fornecedor.capital_social">
                    <p><label>Capital Social:</label> R$ {{fornecedor.capital_social}}</p>
                </div>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-primary" type="button" data-ng-click="ExpandirContrairInformacoesAdicional($event)">Ver mais</button>
            </div>
            <div id="collapseDadosEmpresaAdicional" style="display:none" class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Código e descrição da atividade econômica principal (CNAE):</label>
                            <div>{{fornecedor.atividade_principal}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Código e descrição das atividades econômicas secundárias:</label>
                            <div data-ng-repeat="row in fornecedor.atividade_secundaria" data-ng-bind="row"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p><label>Código e descrição da natureza jurídica:</label> {{fornecedor.natureza_juridica}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p><label>Data da situação cadastral:</label> {{fornecedor.data_da_situacao_cadastral}}</p>
                    </div>
                    <div class="col-md-8" data-ng-if="fornecedor.motivo_situacao_cadastral">
                        <p><label>Motivo de situação cadastral:</label> {{fornecedor.motivo_situacao_cadastral}}</p>
                    </div>
                    <div class="col-md-4" data-ng-if="fornecedor.situacao_especial">
                        <p><label>Situação especial:</label> {{fornecedor.situacao_especial}}</p>
                    </div>
                    <div class="col-md-4" data-ng-if="fornecedor.data_situacao_especial">
                        <p><label>Data da situação especial:</label> {{fornecedor.data_situacao_especial}}</p>
                    </div>
                    <div class="col-md-4" data-ng-if="fornecedor.ente_federativo_responsavel">
                        <p><label>Ente federativo responsável (EFR):</label> {{fornecedor.ente_federativo_responsavel}}</p>
                    </div>
                </div>

                <fieldset id="fsQuadroSocietario" class="form-group">
                    <legend>Quadro de Sócios e Administradores - QSA</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <table class="table table-condensed table-striped">
                                    <thead>
                                        <tr>
                                            <th>Nome/Nome Empresarial</th>
                                            <th>Qualificação</th>
                                            <th>Nome do Repres. Legal</th>
                                            <th>Qualif. Rep. Legal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="row in quadro_societario" data-ng-show="quadro_societario.length>0">
                                            <td data-ng-bind="row.nome"></td>
                                            <td data-ng-bind="row.qualificacao"></td>
                                            <td data-ng-bind="row.nome_representante_legal"></td>
                                            <td data-ng-bind="row.qualificacao_representante_legal"></td>
                                        </tr>
                                        <tr data-ng-hide="quadro_societario.length>0">
                                            <td colspan="4" class="text-center">A natureza jurídica não permite o preenchimento do QSA</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row form-group" data-ng-hide="DeputadoFederalMaioresGastos.length===0">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-danger" >
                    <div class="panel-heading">
                        <h3 class="panel-title">Deputados Federais - Recebimentos mensais</h3>
                    </div>
                    <div class="panel-body">
                        <div id="fornecedor-recebimentos-por-mes-deputados" class="form-group" style="padding-right: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <a class="pull-right" href="#" data-ng-href="./#!/deputado-federal?Fornecedor={{fornecedor.id_fornecedor}}&Periodo=0&Agrupamento=6">Ver lista completa</a>
                        <h3 class="panel-title">Deputados Federais (Top 10 Acumulado)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Parlamentar</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in DeputadoFederalMaioresGastos">
                                        <td><a href="./#!/deputado-federal/{{::row.id_cf_deputado}}">{{::row.nome_parlamentar}}</a></td>
                                        <td><a href="./#!/deputado-federal?IdParlamentar={{::row.id_cf_deputado}}&Fornecedor={{fornecedor.id_fornecedor}}&Periodo=0&Agrupamento=6">{{::row.valor_total}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row form-group" data-ng-hide="SenadoresMaioresGastos.length===0">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Senadores - Recebimentos mensais</h3>
                    </div>
                    <div class="panel-body">
                        <div id="fornecedor-recebimentos-por-mes-senadores" class="form-group" style="padding-right: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <a class="pull-right" href="#" data-ng-href="./#!/senador?Fornecedor={{fornecedor.id_fornecedor}}&Periodo=0&Agrupamento=6">Ver lista completa</a>
                        <h3 class="panel-title">Senadores (Top 10 Acumulado)</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Parlamentar</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in SenadoresMaioresGastos">
                                        <td><a href="./#!/senador/{{::row.id_sf_senador}}">{{::row.nome_parlamentar}}</a></td>
                                        <td><a href="./#!/senador?IdParlamentar={{::row.id_sf_senador}}&Fornecedor={{fornecedor.id_fornecedor}}&Periodo=0&Agrupamento=6">{{::row.valor_total}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group">
            <dir-disqus config="disqusConfig"></dir-disqus>
        </div>
    </div>

    <div id="dvQueProcurar" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">O que procurar?</h4>
                </div>
                <div class="modal-body text-justify">
                    <p>
                        A primeira coisa que sugerimos é começar a investigar o fornecedor. Em várias fiscalizações que a OPS já realizou, a empresa esteva registrada em endereços que não condiziam com a realidade do local. Um exemplo é a de uma locadora que dizia funcionar aonde, na realidade havia uma padaria. Você pode utilizar o Google Maps ou o Street View (se estiver disponível) para avaliar a localização da empresa. Visite o local, se for possível.
                    </p>
                    <p>
                        Outra sugestão é verificar se a empresa possui uma página na internet e se ela realmente fornece o serviço prestado ao parlamentar. A OPS já encontrou “empresas” que faturavam alguns milhões de reais tendo como clientes apenas políticos. Além disso, estas empresas não possuíam qualquer publicidade na internet ou em outro lugar. Empresas sérias não se escondem e são facilmente localizadas.
                    </p>
                    <p>
                        O foco da OPS não é a empresa prestadora de serviço ou fornecedora de produtos ao parlamentar, mas a nossa experiência nos mostra que muitas vezes empresas fajutas eram abertas apenas para emitirem notas a parlamentares.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Entendi</button>
                </div>
            </div>
        </div>
    </div>
</div>
