<div data-ng-controller="SenadorVisualizarController">
    <div class="container">
        <h3 class="page-title">Senador(a)</h3>

        <div class="row box-deputado form-group">
            <div class="form-group">
                <div class="col-xs-12 col-md-4 col-lg-3 text-center">
                    <img class="img-thumbnail img-responsive img-parlamentar" src="./Content/Images/Parlamentares/SENADOR/{{::senador.id_sf_senador}}_240x300.jpg"
                         title="{{::senador.nome_parlamentar}}" alt="{{::senador.nome_parlamentar}}" width="240" height="300" />
                </div>
                <div class="col-xs-12 col-md-8 col-lg-9 text-left">
                    <h1 style="margin-top: 0;">{{::senador.nome_parlamentar}} <small>({{::senador.sigla_partido}} / {{::senador.sigla_estado}})</small></h1>

                    <p><label>Nome civil:</label> {{::senador.nome_civil}}</p>
                    <p><label>Partido:</label> {{::senador.nome_partido}}</p>
                    <p><label>Estado:</label> {{::senador.nome_estado}}</p>
                    <p><label>Nascimento:</label> {{::senador.nascimento}}</p>
                    <p><label>Email:</label> {{::senador.email}}</p>
                    <p>
                        <label>Gasto Acumulado CEAPS:</label>
                        <a href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Periodo=0&Agrupamento=6" title="Clique para ver os gastos com cota parlamentar em detalhes">R$ {{::senador.valor_total_ceaps}}</a>
                    </p>
                    <p><a data-ng-href="http://www25.senado.leg.br/web/senadores/senador/-/perfil/{{::senador.id_sf_senador}}" href="#" target="_blank" onclick="return trackOutboundLink(this, true);">Ver página oficial no senado</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Comparativo de gastos mensais com a cota parlamentar</h3>
            </div>
            <div class="panel-body">
                <div id="senadores-gastos-por-mes" class="form-group" style="padding-right: 10px"></div>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <a class="pull-right" href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Periodo=0&Agrupamento=6">Ver lista completa</a>
                        <h3 class="panel-title">Maiores Notas/Recibos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Beneficiário</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in MaioresNotas">
                                        <td><a data-ng-href="./#!/fornecedor/{{::row.id_fornecedor}}">{{::row.nome_fornecedor}}</a></td>
                                        <td>{{::row.valor}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <a class="pull-right" href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Periodo=0&Agrupamento=3">Ver lista completa</a>
                        <h3 class="panel-title">Maiores fornecedores</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" style="margin: 0;">
                                <thead>
                                    <tr>
                                        <th style="width:80%">Beneficiário</th>
                                        <th style="width:20%">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in MaioresFornecedores">
                                        <td><a data-ng-href="./#!/fornecedor/{{::row.id_fornecedor}}">{{::row.nome_fornecedor}}</a></td>
                                        <td><a href="./#!/senador?IdParlamentar={{::senador.id_sf_senador}}&Fornecedor={{::row.id_fornecedor}}&Periodo=0&Agrupamento=6">{{::row.valor_total}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <dir-disqus config="disqusConfig"></dir-disqus>
        </div>
    </div>

</div>


