<div data-ng-controller="BuscaController">
    <div class="container">
        <h3 class="page-title">Busca</h3>

        <form id="form" autocomplete="off" ng-submit="Pesquisar()">
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" id="txtBusca" class="form-control input-sm" placeholder="Buscar por deputado, senador ou empresa" data-ng-model="filtro.q" />
                </div>

                <div class="col-md-12 form-group">
                    <input type="submit" id="ButtonPesquisar" value="Pesquisar" class="btn btn-danger btn-sm" />
                </div>
            </div>
        </form>

        <div class="alert alert-warning" data-ng-show="deputado_federal.length===0&&senador.length===0&&fornecedor.length===0">
            Nenhum resultado encontrado!
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-12" data-ng-hide="deputado_federal.length===0">
            <div class="row deputado-conheca">
                <h4 class="page-title">{{::deputado_federal.length}} deputados encontrados</h4>
                <div class="col-xs-12 col-sm-6 col-md-3 deputado" data-ng-repeat="deputado in deputado_federal track by $index">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="./#!/deputado-federal/{{::deputado.id_cf_deputado}}" title="Clique para visualizar o perfil do deputado(a)">
                                {{::deputado.nome_parlamentar}}
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="./#!/deputado-federal/{{::deputado.id_cf_deputado}}" title="Clique para visualizar o perfil do deputado(a)">
                                        <div class="afkl-lazy-wrapper media-thumbnail" afkl-lazy-image="./Content/Images/Parlamentares/DEPFEDERAL/{{deputado.id_cf_deputado}}.jpg"></div>
                                    </a>
                                </div>
                                <div class="media-left media-middle">
                                    <h6 class="text-muted media-heading">{{::deputado.nome_civil}}</h6>
                                    <h5 class="media-heading"><span title="{{::deputado.nome_partido}}">{{::deputado.sigla_partido}}</span> - <span title="{{::deputado.nome_estado}}">{{::deputado.sigla_estado}}</span></h5>
                                    <small class="text-muted">Cota parlamentar</small>
                                    <h4 class="media-heading">R$ {{::deputado.valor_total_ceap}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" data-ng-hide="senador.length===0">
            <div class="row senador-conheca">
                <h4 class="page-title">{{::senador.length}} senadores encontrados</h4>
                <div class="col-xs-12 col-sm-6 col-md-3 senador" data-ng-repeat="senador in senador track by $index">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="./#!/senador/{{::senador.id_sf_senador}}" title="Clique para visualizar o perfil do senador(a)">
                                {{::senador.nome}}
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="./#!/senador/{{::senador.id_sf_senador}}" title="Clique para visualizar o perfil do senador(a)">
                                        <div class="afkl-lazy-wrapper media-thumbnail" afkl-lazy-image="./Content/Images/Parlamentares/SENADOR/{{senador.id_sf_senador}}_120x160.jpg"></div>
                                    </a>
                                </div>
                                <div class="media-left media-middle">
                                    <h6 class="text-muted media-heading">{{::senador.nome_completo}}</h6>
                                    <h5 class="media-heading"><span title="{{::senador.nome_partido}}">{{::senador.sigla_partido}}</span> - <span title="{{::senador.nome_estado}}">{{::senador.sigla_estado}}</span></h5>
                                    <small class="text-muted">Cota parlamentar</small>
                                    <h4 class="media-heading">R$ {{::senador.valor_total_ceaps}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" data-ng-hide="fornecedor.length===0">
            <div class="row fornecedor-conheca">
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item active">
                        {{::fornecedor.length}} empresas encontradas
                    </a>
                    <a data-ng-repeat="fornecedor in fornecedor track by $index" href="./#!/fornecedor/{{::fornecedor.id_fornecedor}}" class="list-group-item">
                        {{::fornecedor.cnpj}} - {{::fornecedor.estado}}<br />
                        {{::fornecedor.nome_fantasia}}<br />
                        {{::fornecedor.nome}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
