<div class="bg-landing-page" data-ng-controller="PrincipalController">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Operação Política Supervisionada</h1>
                    <h3>Indexador de dados públicos da cota parlamentar</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container form-group">
        <h2>Resumo anual da cota parlamentar</h2>
        <div class="row">
            <div class="col-sm-6">
                <h4>Câmara dos Deputados <small>(513 deputados)</small></h4>
                <div id="camara-resumo-gastos-anual"></div>
            </div>
            <div class="col-sm-6">
                <h4>Senado Federal <small>(81 senadores)</small></h4>
                <div id="senado-resumo-gastos-anual"></div>
            </div>
        </div>
    </div>

    <div class="container form-group">
        <h2>Resumo mensal da cota parlamentar</h2>

        <h4>Câmara Federal <small>(513 deputados)</small></h4>
        <label>Legislatura:</label>
        <div id="camara-legislatura" class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="cl-options" value="0"> Todas
            </label>
            <label class="btn btn-default">
                <input type="radio" name="cl-options" value="52"> 52º (2007-2011)
            </label>
            <label class="btn btn-default">
                <input type="radio" name="cl-options" value="53"> 53º (2011-2015)
            </label>
            <label class="btn btn-default active">
                <input type="radio" name="cl-options" value="54" checked> 54º (2015-2019)
            </label>
        </div>
        <div id="camara-resumo-gastos"></div>

        <h4>Senado Federal <small>(81 senadores)</small></h4>
        <label>Legislatura:</label>
        <div id="senado-legislatura" class="btn-group" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" name="sl-options" value="0"> Todas
            </label>
            <label class="btn btn-default">
                <input type="radio" name="sl-options" value="52"> 52º (2007-2011)
            </label>
            <label class="btn btn-default">
                <input type="radio" name="sl-options" value="53"> 53º (2011-2015)
            </label>
            <label class="btn btn-default active">
                <input type="radio" name="sl-options" value="54" checked> 54º (2015-2019)
            </label>
        </div>
        <div id="senado-resumo-gastos"></div>
    </div>

    <div class="content-section form-group">
        <div class="container text-justify">
            <h2>O que é a cota parlamantar?</h2>
            <p>A <strong>cota parlamantar</strong>, também conhecida como verba indenizatória é um <strong>recurso financeiro público</strong> disponibilizado a todos os <strong>deputados federais e senadores</strong> para o custeio de seus mandatos.</p>
            <p>Cada um tem direito a restituir até <strong><a href="http://www.camara.gov.br/cota-parlamentar/ANEXO_ATO_DA_MESA_43_2009.pdf" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow" title="Clique para visualizar a lista official de valores por estado">R$ 45.612,53 por mês</a></strong> com sua <strong>alimentação, passagens aereas, combustivel, consultoria</strong>, entre outros.</p>
            <p>Contrariando a lei de licitações, o uso deste dinheiro é feito sem licitação e <strong>basta o parlamentar apresentar a nota fiscal ou recibo</strong>.</p>
        </div>
    </div>

    <div class="container form-group">
        <h2>Campeões de gastos</h2>
        <p>Os Parlamentares que mais gastaram dinheiro público da verba indenizatória da atual legislatura</p>
        <br/>
        <div class="resumo-gastos">
            <h4>Deputados Federais <small>(Desde fevereiro de 2015)</small></h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3" data-ng-repeat="gasto in CampeoesGastos.CamaraFederal track by $index">
                    <div class="box">
                        <a href="./#!/deputado-federal/{{::gasto.id_cf_deputado}}" title="Clique para visualizar o perfil do deputado(a)">
                            <div class="media ">
                                <div class="media-left media-middle">
                                    <img src="" data-ng-src='./Content/Images/Parlamentares/DEPFEDERAL/{{::gasto.id_cadastro}}.jpg' alt='{{::gasto.nome_parlamentar}}' height="120">
                                </div>
                                <div class="media-left media-middle">
                                    <h5 class="media-heading" data-ng-bind="::gasto.nome_parlamentar"></h5>
                                    <h5 class="media-heading text-muted" data-ng-bind="::gasto.sigla_partido_estado"></h5>
                                    <h4 class="media-heading text-danger" data-ng-bind="::gasto.valor_total"></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <h4>Senadores <small>(Desde fevereiro de 2015)</small></h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3" data-ng-repeat="gasto in CampeoesGastos.Senado track by $index">
                    <div class="box">
                        <a href="./#!/senador/{{::gasto.id_sf_senador}}" title="Clique para visualizar o perfil do senador(a)">
                            <div class="media ">
                                <div class="media-left media-middle">
                                    <img src="" data-ng-src='./Content/Images/Parlamentares/SENADOR/{{::gasto.id_sf_senador}}.jpg' alt='{{::gasto.nome_parlamentar}}' height="120">
                                </div>
                                <div class="media-left media-middle">
                                    <h5 class="media-heading" title="Nome do parlamentar" data-ng-bind="::gasto.nome_parlamentar"></h5>
                                    <h5 class="media-heading text-muted" title="Partido/Estado" data-ng-bind="::gasto.sigla_partido_estado"></h5>
                                    <h4 class="media-heading text-danger" title="Valor gasto acumulado no mandato" data-ng-bind="::gasto.valor_total"></h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="content-section form-group">
        <div class="container text-center">
            <h2>Escolha uma casa legislativa para explorar</h2>
            <div class="text-xs-center">
                <a href="./#!/deputado-federal" class="btn btn-danger btn-lg" style="margin-bottom: 15px;">Câmara dos Deputados</a>
                <a href="./#!/senador" class="btn btn-danger btn-lg" style="margin-bottom: 15px;">Senado Federal</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <dir-disqus config="disqusConfig"></dir-disqus>
            </div>
        </div>
    </div>
</div>
