<div class="container-fluid" data-ng-controller="MembrosController">
	<fieldset>
		<legend>Membros da Operação política Supervisionada</legend>
		<div class="row">
			<div class="col-md-5 col-xs-12 form-group">
				<div class="mapa-brasil-selecao clicavel hidden-xs">
					@*Origem: http://www25.senado.leg.br/web/transparencia/sen/*@
					<svg version="1.1" id="mapa_brasil_clicavel_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-73.5 -255.5 767 761" enable-background="new -73.5 -255.5 767 761" xmlns:space="preserve">
						<a title="" data-original-title="Maranhão" xlink:href="./#/geral/membros/MA">
							<polygon id="MA" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="436,-51 443.1,-44.1 444,-25.3 441,-17.4 438.1,-14.5 442.2,-12.2 443.1,-8 451.3,2.2 457.8,0.6 461.2,2.7 461.2,8.3 455,11.2 450.4,21.4 455,28.5 459.5,32.9 458.3,35 462.4,44 470.9,46.4 473.9,32.6 471.5,22.7 477.9,7.2 482.8,-4.8 498,-10.4 508.3,-19.2 515.6,-21.6 521.8,-17.8 530.8,-20.7 532.4,-29.4 528.7,-33.9 528.2,-40.8 534,-47.3 534.9,-51 532,-58 533.5,-63.3 530.3,-66.6 532.9,-72.4 539,-82.6 542.6,-83 549.9,-87.9 552.8,-93.5 551.9,-95.3 547.6,-94.1 541,-97.3 523,-104.3 520.9,-101.5 513.5,-100.2 509.5,-96.5 505.7,-95.6 499.6,-89.2 498.4,-90 500.1,-93.5 499.6,-94.9 497.5,-96.1 499.3,-101.8 502.5,-106.3 501.3,-107.9 497.5,-107.6 500.1,-110.8 500.4,-114 495.5,-119.5 489,-121.5 487,-119 485.2,-119 484.4,-123.1 483.8,-124.8 482,-124.3 479.1,-125.6 474.2,-127.2 470.1,-128.4 468.5,-122.3 468.5,-114.9 464.8,-109.3 464.4,-105.2 460.6,-100.2 460.6,-94.1 455.7,-88.8 452.1,-81.2 441,-64.9 434.6,-63.3 425.1,-54.2 431.2,-51 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Piauí" xlink:href="./#/geral/membros/PI">
							<polygon id="mbc_PI" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="474.8,47.6 477.6,48.4 487,59.2 492.6,58.7 498,55.1 505.7,53.9 513.1,44 513.1,32.6 517.2,30.5 522.6,32.1 526.7,32.1 531.5,35.5 536.4,34.6 541.4,30.8 549.3,30 553.7,23.8 558.1,22.3 561.3,19.5 567.2,14.5 571.2,12.9 575.4,3.9 573.3,-1.9 574.6,-5.6 578.3,-15.4 571.7,-24.5 567.2,-45.3 565.6,-56.7 564.7,-60.8 567.2,-67.5 562.2,-81.2 563.6,-83.3 561.8,-85.9 563.6,-91.1 558.9,-92.4 552.8,-93.5 549.9,-87.9 542.6,-83 539,-82.6 532.9,-72.4 530.3,-66.6 533.5,-63.3 532,-58 534.9,-51 534,-47.3 528.2,-40.8 528.7,-33.9 532.4,-29.4 530.8,-20.7 521.8,-17.8 515.6,-21.6 508.3,-19.2 498,-10.4 482.8,-4.8 477.9,7.2 471.5,22.7 473.9,32.6 470.9,46.4 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Bahia" xlink:href="./#/geral/membros/BA">
							<polygon id="mbc_BA" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="474.8,47.6 462.7,58.3 463.2,60.4 459.2,65.3 460.3,68.9 466.8,73 464.8,75.9 465.9,78.8 462.7,82.9 462.4,88.2 466.5,90.8 464.4,96.4 466.5,99.3 465.6,100.5 466.8,106.6 463.5,109.9 462.4,115.4 468,125.1 468.8,132.4 466.5,137.9 465.9,143.2 475.5,139.9 497.2,126.3 506.5,126.8 508.3,128.3 506.9,132 511.5,135.8 516.4,135.8 519.2,134.1 525.8,136.2 537.7,144.7 546.6,145.6 552.8,151.7 554.6,155.8 556.6,157.5 567.7,158.4 577.9,163.6 580.7,166.5 579.1,170.7 574.1,174.7 571.7,179.5 567.2,182.4 565.6,187.3 565.6,190.6 570.9,196.7 570.4,200.9 580.7,208.7 590.6,199.6 590.2,188.6 598.4,164.8 597.1,159.5 596.7,139.1 599.1,130.4 597.9,125.1 600,119.4 598.7,115.4 603.7,109.2 604,105.1 606.6,99.6 607.8,100.2 609.9,105.5 612.8,105.1 625.7,89.4 630.7,78 625.7,78.8 622.1,75.9 617.2,63.6 623.7,62.8 626.2,51.9 624.1,48.4 622.1,42 622.5,38.7 619.6,33.7 614.2,26.4 611.4,27.6 609,24.4 601.9,22.3 597.1,18.2 586.1,26.8 582.7,28.8 581.1,28.5 578.3,31.7 577.1,34.1 573.8,35 570.9,34.6 570.4,31.3 567.2,27.6 566.9,25.2 565.6,21.9 561.3,19.5 558.1,22.3 553.7,23.8 549.3,30 541.4,30.8 536.4,34.6 531.5,35.5 526.7,32.1 522.6,32.1 517.2,30.5 513.1,32.6 513.1,44 505.7,53.9 498,55.1 492.6,58.7 487,59.2 477.6,48.4 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Sergipe" xlink:href="./#/geral/membros/SE">
							<polygon id="mbc_SE" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="630.7,78 636.8,70.3 648.2,62.5 651.5,59.3 651.5,59.3 643.5,51.3 622.5,38.7 622.1,42 624.1,48.4 626.2,51.9 623.7,62.8 617.2,63.6 622.1,75.9 625.7,78.8 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Alagoas" xlink:href="./#/geral/membros/AL">
							<polygon id="mbc_AL" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="675.7,30.8 660.2,30 654,35 640.6,36.1 637.3,33.7 627.8,27.6 619.6,33.7 622.5,38.7 643.5,51.3 651.5,59.3 651.5,59.3 672.8,38.7 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Pernambuco" xlink:href="./#/geral/membros/PE">
							<polygon id="mbc_PE" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="611,1.3 604.5,5.4 595.5,-3.5 574.6,-5.6 573.3,-1.9 575.4,3.9 571.2,12.9 567.2,14.5 561.3,19.5 565.6,21.9 566.9,25.2 567.2,27.6 570.4,31.3 570.9,34.6 573.8,35 577.1,34.1 578.3,31.7 581.1,28.5 582.7,28.8 586.1,26.8 597.1,18.2 601.9,22.3 609,24.4 611.4,27.6 614.2,26.4 619.6,33.7 627.8,27.6 637.3,33.7 640.6,36.1 654,35 660.2,30 675.7,30.8 682.3,16.5 682.7,6.8 684.4,-2.3 674.8,0.6 669.5,5.4 651.6,10 646.7,15.3 642.1,15.3 641.4,12.9 637.7,8.3 644.7,-1.4 643,-3.1 638,-4.8 627,3 620.1,5.9 617.2,3.4 613.4,3.9 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Paraíba" xlink:href="./#/geral/membros/PB">
							<polygon id="mbc_PB" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="681.2,-16.9 672.1,-17.4 663.1,-17.4 656.4,-21.6 653.7,-19.5 651.6,-11 649.1,-10.1 646.7,-13.3 640.1,-13.7 635.9,-15.7 635.9,-18.7 640.1,-25.6 640.1,-28 638.8,-28.5 629.1,-25.3 623.7,-20.3 614.7,-22.2 611,-11 614.7,-4.3 611,1.3 613.4,3.9 617.2,3.4 620.1,5.9 627,3 638,-4.8 643,-3.1 644.7,-1.4 637.7,8.3 641.4,12.9 642.1,15.3 646.7,15.3 651.6,10 669.5,5.4 674.8,0.6 684.4,-2.3 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Ceará" xlink:href="./#/geral/membros/CE">
							<polygon id="mbc_CE" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="638,-52.7 634.7,-54.7 625.7,-64.9 600,-85.4 583.2,-92.9 563.6,-91.1 561.8,-85.9 563.6,-83.3 562.2,-81.2 567.2,-67.5 564.7,-60.8 565.6,-56.7 567.2,-45.3 571.7,-24.5 578.3,-15.4 574.6,-5.6 595.5,-3.5 604.5,5.4 611,1.3 614.7,-4.3 611,-11 614.7,-22.2 616.8,-28.5 620.1,-28.5 629.1,-43.2 638,-52.6 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Rio Grande do Norte" xlink:href="./#/geral/membros/RN">
							<polygon id="mbc_RN" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="614.7,-22.2 616.8,-28.5 620.1,-28.5 629.1,-43.2 638,-52.6 638,-52.7 646.7,-47.3 656.9,-43.8 671.3,-43.2 676.6,-37.9 681.2,-16.9 672.1,-17.4 663.1,-17.4 656.4,-21.6 653.7,-19.5 651.6,-11 649.1,-10.1 646.7,-13.3 640.1,-13.7 635.9,-15.7 635.9,-18.7 640.1,-25.6 640.1,-28 638.8,-28.5 629.1,-25.3 623.7,-20.3 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="São Paulo" xlink:href="./#/geral/membros/SP">
							<polygon id="mbc_SP" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="422.3,337.2 420.5,335.6 420.5,334.8 417.6,331.9 414.1,334 413.2,326.7 402.5,325.7 400.9,322.9 402.5,320.1 397.2,311.5 396,300.3 388.7,292.2 379.3,292.2 367,286 356.7,285.6 350,285.6 340.7,285.3 336.9,282.8 344.4,277.5 352.1,267.2 352.1,264.3 356.2,259.9 359.1,252 365.2,242.6 372.6,237.3 372.7,235.5 380.8,231.2 389.8,234.1 401.8,233.6 403.3,236.5 403.3,239.4 410.3,241 414.4,238.6 425.5,239.4 431.2,235.7 438.7,238.2 441,241.5 439.8,244.4 442.7,249.6 440.7,252.9 444,262.3 446.9,264.3 451.6,264.8 452.5,268.1 449.3,279.2 450.9,282.4 455.7,287.4 455,290.1 457.4,292.6 465.3,291.8 467.7,288 477.9,286.9 484.1,284.8 487.3,288.6 493.9,288.6 494.6,289.4 490.5,293.6 482.8,295.5 481.7,299.7 482,303.3 470.1,309.9 468.5,312.3 461.6,311.5 446.9,318.1 425.5,334.5 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Minas Gerais" xlink:href="./#/geral/membros/MG">
							<polygon id="mbc_MG" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="372.7,235.5 373.5,223.4 379.6,218.1 385.4,209.5 400.4,206.6 403.3,208.2 408.6,203.8 422.6,204.6 431.7,205.5 441,198 441.4,188.6 438.1,187 437.8,185.4 444,175.9 441.9,170.1 439.8,168.1 441.4,158.4 450.1,155.5 450.1,150.5 449.6,146.1 450.9,139.9 456.2,138.6 456.6,134.1 459.5,134.1 461.9,137.9 466.5,137.9 465.9,143.2 475.5,139.9 497.2,126.3 506.5,126.8 508.3,128.3 506.9,132 511.5,135.8 516.4,135.8 519.2,134.1 525.8,136.2 537.7,144.7 546.6,145.6 552.8,151.7 554.6,155.8 556.6,157.5 567.7,158.4 577.9,163.6 580.7,166.5 579.1,170.7 574.1,174.7 571.7,179.5 567.2,182.4 565.6,187.3 565.6,190.6 570.9,196.7 570.4,200.9 564.2,200.9 557,204.1 554.9,208.2 556.1,214 556.6,216.9 554.9,220.1 556.1,227.4 554.9,231.6 548.4,241.5 546.6,244.4 541.8,243.9 538.5,247.1 537.7,254.9 533.2,258.7 527.9,273 512.4,279.2 499.3,278.3 484.1,284.8 477.9,286.9 467.7,288 465.3,291.8 457.4,292.6 455,290.1 455.7,287.4 450.9,282.4 449.3,279.2 452.5,268.1 451.6,264.8 446.9,264.3 444,262.3 440.7,252.9 442.7,249.6 439.8,244.4 441,241.5 438.7,238.2 431.2,235.7 425.5,239.4 414.4,238.6 410.3,241 403.3,239.4 403.3,236.5 401.8,233.6 389.8,234.1 380.8,231.2 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Rio de Janeiro" xlink:href="./#/geral/membros/RJ">
							<polygon id="mbc_RJ" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="484.1,284.8 487.3,288.6 493.9,288.6 494.6,289.4 490.5,293.6 482.8,295.5 481.7,299.7 482,303.3 484.9,303.3 485.7,302.1 483.8,299.2 484.4,297.9 489,295.9 492.6,297.9 498.7,295.9 504.6,298.3 508.3,297.1 508.6,294.2 510.7,293.6 513.5,297.6 517.2,297.9 532.4,296.3 534,289.8 550.8,281.6 550.8,273.7 554.1,265.2 554,265.2 540.2,261.4 539,256.2 537.7,254.9 533.2,258.7 527.9,273 512.4,279.2 499.3,278.3 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Espírito Santo" xlink:href="./#/geral/membros/ES">
							<polygon id="mbc_ES" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="570.4,200.9 564.2,200.9 557,204.1 554.9,208.2 556.1,214 556.6,216.9 554.9,220.1 556.1,227.4 554.9,231.6 548.4,241.5 546.6,244.4 541.8,243.9 538.5,247.1 537.7,254.9 539,256.2 540.2,261.4 554,265.2 554.1,265.2 554.9,263.2 564.2,253.8 565.6,248.8 576.2,235.3 578.3,223.4 580.7,208.7 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Goiás" xlink:href="./#/geral/membros/GO">
							<polygon id="mbc_GO" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="464.4,96.4 466.5,99.3 465.6,100.5 466.8,106.6 463.5,109.9 462.4,115.4 468,125.1 468.8,132.4 466.5,137.9 461.9,137.9 459.5,134.1 456.6,134.1 456.2,138.6 450.9,139.9 449.6,146.1 450.1,150.5 450.1,155.5 441.4,158.4 439.8,168.1 441.9,170.1 444,175.9 437.8,185.4 438.1,187 441.4,188.6 441,198 431.7,205.5 422.6,204.6 408.6,203.8 403.3,208.2 400.4,206.6 385.4,209.5 379.6,218.1 373.5,223.4 368.5,220.1 355.3,214.8 341.9,208.7 337.7,208.7 336.6,207.5 339,203.8 336.9,202 333.7,202 332.8,195.6 332.5,183.6 334.9,174.2 343.6,164.8 350.5,154.6 355.9,152.9 363.6,138.6 366.5,137 368.5,137.9 373.8,128.3 377.9,107.9 382.8,98.4 392.2,84.2 399.9,84.7 405.8,97.5 409.3,92 417.4,94.1 419.5,99.2 425.1,95.8 434.9,97.5 434.5,93.7 437,93.7 440.8,98.8 456.7,100.5 459.2,95.8 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Mato Grosso do Sul" xlink:href="./#/geral/membros/MS">
							<polygon id="mbc_MS" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="336.9,282.8 344.4,277.5 352.1,267.2 352.1,264.3 356.2,259.9 359.1,252 365.2,242.6 372.6,237.3 372.7,235.5 373.5,223.4 368.5,220.1 355.3,214.8 341.9,208.7 337.7,208.7 336.6,207.5 339,203.8 336.9,202 333.7,202 332.8,195.6 326.4,191.5 322.2,182.4 318.4,182 316.5,185.4 313.7,185.4 305.9,184.1 300.5,187.7 278.1,180 274.8,181.6 267.8,183 262.9,188.6 254.3,194.7 251.4,200 244.7,227.1 242.9,233.6 242,236.9 243.6,247.1 247.3,253.3 246.5,277.8 248.5,279.2 251.4,277.8 260.8,280.4 269,280.7 274,277.5 279.2,281.3 284.5,281.6 288.6,293 289.8,303.3 291.9,310.2 293.3,313.2 297.3,314.7 306.7,310.6 312.3,314 316.1,311.5 318.5,301.7 323.5,296.8 324.3,291.8 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Distrito Federal" xlink:href="./#/geral/membros/DF">
							<polygon id="mbc_DF" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="441.4,158.4 425.5,157.9 424.3,156.3 425.8,149.3 430.8,148.1 441.4,148.5 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Tocantins" xlink:href="./#/geral/membros/TO">
							<polygon id="mbc_TO" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="464.4,96.4 459.2,95.8 456.7,100.5 440.8,98.8 437,93.7 434.5,93.7 434.9,97.5 425.1,95.8 419.5,99.2 417.4,94.1 409.3,92 405.8,97.5 399.9,84.7 392.2,84.2 382.8,98.4 379.9,88.7 379.9,63.3 388.1,37.5 397.2,22.3 405.3,11.5 409.1,-2.3 407.1,-7.5 410,-16.3 410,-19.2 416.8,-23.2 425.5,-33 429,-45.7 425.8,-48.1 420.2,-49.4 425.1,-54.2 431.2,-51 436,-51 443.1,-44.1 444,-25.3 441,-17.4 438.1,-14.5 442.2,-12.2 443.1,-8 451.3,2.2 457.8,0.6 461.2,2.7 461.2,8.3 455,11.2 450.4,21.4 455,28.5 459.5,32.9 458.3,35 462.4,44 470.9,46.4 474.8,47.6 462.7,58.3 463.2,60.4 459.2,65.3 460.3,68.9 466.8,73 464.8,75.9 465.9,78.8 462.7,82.9 462.4,88.2 466.5,90.8 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Mato Grosso" xlink:href="./#/geral/membros/MT">
							<polygon id="mbc_MT" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="176,20.3 232.4,17.4 234.2,8.3 234.2,1.3 234.5,-2.7 238.4,-10.4 247.3,5.9 247.7,15.3 256.7,23.5 258.8,26.4 262.5,28 264.5,30 388.1,37.5 379.9,63.3 379.9,88.7 382.8,98.4 377.9,107.9 373.8,128.3 368.5,137.9 366.5,137 363.6,138.6 355.9,152.9 350.5,154.6 343.6,164.8 334.9,174.2 332.5,183.6 332.8,195.6 326.4,191.5 322.2,182.4 318.4,182 316.5,185.4 313.7,185.4 305.9,184.1 300.5,187.7 278.1,180 274.8,181.6 267.8,183 262.9,188.6 254.3,194.7 251.4,200 246.1,189.1 237.1,184.9 234.2,176.3 235.9,171.3 236.2,165.7 204.3,166 201.7,164.5 201.1,151.3 195,144.3 197.7,141.4 197,137.9 198.5,132.4 195.3,126.8 197.4,122.1 189.1,115.7 192.3,112.5 197,106.6 201.4,99.3 204.3,93.5 205.5,84.7 201.4,76.4 202.6,72.7 203.8,66.5 200.2,63.6 183.8,62.1 174.8,53 173.1,48.9 176.5,39 174.8,26.8 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Rondonia" xlink:href="./#/geral/membros/RO">
							<polygon id="mbc_RO" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="176,20.3 174.8,26.8 176.5,39 173.1,48.9 174.8,53 183.8,62.1 200.2,63.6 203.8,66.5 202.6,72.7 201.4,76.4 205.5,84.7 204.3,93.5 201.4,99.3 197,106.6 192.3,112.5 189.1,115.7 183,113.3 169.9,114.5 162.9,106.6 156.3,105.8 148.2,101.3 145.3,98.1 142.9,98.1 140.8,98.4 135.5,94.9 125.6,96 121.2,95.2 117.5,89 113,87.9 106,82.6 100.7,69.8 101.9,66.2 99,58.3 101.4,50.2 100.2,43.1 98.2,42 94.9,45.2 82.3,45.2 79.1,47 72,43.9 83,35 88.4,34.6 94,36.6 102.3,33.4 106,33.4 111.3,26.4 122.7,23.2 126.5,19.8 125.3,13.3 130.1,9.6 132.6,8.3 133.5,5.4 148.5,5.4 158.4,15 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Acre" xlink:href="./#/geral/membros/AC">
							<polygon id="mbc_AC" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="72,43.9 54.3,36.1 0.3,14.2 -42.7,6.3 -60.9,-1.1 -60.9,-1.1 -61.1,5.1 -64.4,6.8 -65.2,10.4 -59.6,14.5 -61.1,16.5 -57,21.9 -51.7,28.8 -46,34.6 -44.4,39.6 -47.6,44 -46.8,44.9 -31.8,45.7 -25.9,55.4 -14.8,55.1 -0.1,43.1 1.9,46.4 0.7,51 2.7,72.7 6.9,74.3 13,71.5 22.4,70.6 35.2,71 37.6,73 44.9,69.8 49.5,63.6 55.6,63.3 57.7,60.4 67.9,53.4 79.1,47 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Amazonas" xlink:href="./#/geral/membros/AM">
							<polygon id="mbc_AM" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="65.1,-169.3 62.2,-168.6 56,-184.6 54.3,-186.6 45.4,-178.9 40.5,-182.5 38.4,-182.5 37.2,-179.6 37.9,-178.9 33.1,-177.2 8.5,-176.3 8,-165.3 12.6,-164 18.3,-163.2 20.3,-158.7 19.1,-156.3 13,-157.6 4.5,-153.8 4.8,-139.5 13.3,-132.2 13.3,-126.3 17.1,-120.7 10.6,-67 7.7,-61.3 6,-58.4 1.1,-61.7 -7.8,-60.8 -10.4,-56.7 -28,-52.3 -46.4,-38.8 -46.8,-31.8 -51.3,-22.4 -50.5,-12.5 -60.7,-4.8 -60.9,-1.1 -60.9,-1.1 -42.7,6.3 0.3,14.2 54.3,36.1 72,43.9 83,35 88.4,34.6 94,36.6 102.3,33.4 106,33.4 111.3,26.4 122.7,23.2 126.5,19.8 125.3,13.3 130.1,9.6 132.6,8.3 133.5,5.4 148.5,5.4 158.4,15 176,20.3 232.4,17.4 234.2,8.3 234.2,1.3 234.5,-2.7 238.4,-10.4 233,-20.3 247.3,-54.7 269,-109.3 264,-113.3 254.3,-119.9 249.7,-119.9 237.1,-121.5 223.9,-141.2 222,-158.1 204.6,-157.1 199,-153.8 198.2,-149.7 193.6,-146.1 192.3,-139.2 186.7,-135.9 180.6,-140.3 176.8,-142.1 170.4,-138.3 167.8,-127.2 164.9,-125.1 149.9,-137.4 150.6,-138.3 152.3,-139.5 153.1,-144.8 150.2,-169 140,-188.3 133.5,-194.8 132.6,-191.5 120.4,-184.2 119.9,-180.4 115.7,-174.8 113,-176.9 108.1,-172.8 99.9,-169.3 99,-167 92,-159.6 90,-160.5 90.5,-165.8 88.7,-166.1 83.5,-162.9 78.2,-160.8 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Roraima" xlink:href="./#/geral/membros/RR">
							<polygon id="mbc_RR" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="187,-249.7 195.3,-250.9 198.5,-246.8 197.7,-238.6 201.1,-236.2 203.5,-235.4 205.9,-228.1 207.3,-224.3 201.1,-217.8 201.4,-211.1 199.3,-200.9 199.7,-197.4 203.8,-194.8 204.3,-187.1 216.1,-177.6 220.2,-174.8 222,-158.1 204.6,-157.1 199,-153.8 198.2,-149.7 193.6,-146.1 192.3,-139.2 186.7,-135.9 180.6,-140.3 176.8,-142.1 170.4,-138.3 167.8,-127.2 164.9,-125.1 149.9,-137.4 150.6,-138.3 152.3,-139.5 153.1,-144.8 150.2,-169 140,-188.3 133.5,-194.8 121.5,-196 119.9,-200.9 117.8,-207.9 115.7,-212 116.2,-216.4 106.8,-226.3 106,-228.1 108.4,-228.7 110.1,-227.6 117.1,-227.6 120.4,-223.4 129.8,-223.1 132.6,-225.2 142,-218.2 144.9,-220.2 144.4,-225.5 150.6,-228.4 152.6,-230.5 158.7,-228.7 166.2,-230.8 169.5,-233.7 174.8,-236.6 177.2,-236.2 187.9,-246 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Amapá" xlink:href="./#/geral/membros/AP">
							<polygon id="mbc_AP" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="306.7,-197.4 301.8,-197.7 301.8,-192.4 303,-189.1 308.3,-188.3 315.2,-183.3 325.1,-180.1 327.2,-175.5 333.4,-168.1 332.8,-164 336.3,-151.7 341.1,-149.4 342.7,-146.1 347.7,-134.6 358,-131.3 361.5,-134.1 363.6,-140 365.2,-142.4 370.5,-146.9 370.2,-151.4 380.8,-157.1 386.6,-164.9 395.7,-174.3 396,-179.6 393.6,-184.6 384.5,-188.6 381.7,-191.5 380.4,-195.3 377.9,-200.9 370.5,-230.8 364.1,-236.6 362,-232.5 360.3,-228.4 354.7,-221.1 343.6,-200.1 338.7,-195.3 333.4,-193.9 329.6,-196.8 325.1,-196 321.1,-197.4 317.3,-195.3 311.2,-193.9 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Paraná" xlink:href="./#/geral/membros/PR">
							<polygon id="mbc_PR" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="412.9,353.1 407.1,352.1 395.7,355.6 391.9,353.2 386.9,351.6 381.7,352.9 377.5,352.1 373.5,356.1 366.5,357 364.9,359.4 364.9,362.6 362,364.4 350.5,361.5 342.5,358.6 330.2,357 323.3,356.5 319.8,347.1 316.1,345.1 309.9,345.4 307.9,344.2 310.3,331.6 312.8,322.9 312.3,320.1 312.3,314 316.1,311.5 318.5,301.7 323.5,296.8 324.3,291.8 336.9,282.8 340.7,285.3 350,285.6 356.7,285.6 367,286 379.3,292.2 388.7,292.2 396,300.3 397.2,311.5 402.5,320.1 400.9,322.9 402.5,325.7 413.2,326.7 414.1,334 417.6,331.9 420.5,334.8 420.5,335.6 422.3,337.2 419.7,340.6 414.8,340.9 411.5,342.2 410.6,343 414.8,346.2 412.8,353.1 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Santa Catarina" xlink:href="./#/geral/membros/SC">
							<polygon id="mbc_SC" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="321.1,373.7 323.1,367.3 323.3,356.5 330.2,357 342.5,358.6 350.5,361.5 362,364.4 364.9,362.6 364.9,359.4 366.5,357 373.5,356.1 377.5,352.1 381.7,352.9 386.9,351.6 391.9,353.2 395.7,355.6 407.1,352.1 412.9,353.1 412.8,353.1 412,355.6 409.1,359.1 410.6,363.9 410.6,371.4 410.6,379.6 409.1,385.7 408.3,398.6 405.8,401.6 405.8,403.7 391.1,415.9 388.1,414.4 384.5,415.9 382.8,414.4 386.6,410.6 386.9,408.2 391.1,402.8 390.7,400.7 379.9,399.5 373.5,393.3 364.4,384.3 353.8,378.2 350,377 326,373.4 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Rio Grande do Sul" xlink:href="./#/geral/membros/RS">
							<polygon id="mbc_RS" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="391.1,415.9 388.1,414.4 384.5,415.9 382.8,414.4 386.6,410.6 386.9,408.2 391.1,402.8 390.7,400.7 379.9,399.5 373.5,393.3 364.4,384.3 353.8,378.2 350,377 326,373.4 321.1,373.7 311.2,380.2 305.6,383.1 290.7,395.1 289.1,399.2 285.8,399.5 273.5,413.8 272.8,416.5 262.5,429 257.4,435.6 263.7,436.9 267.3,432.3 274.3,436 277.5,438.4 284.2,446.6 284.2,450.4 286.2,451.5 290.7,447.5 291.5,446.6 300.5,456 307.9,458.9 312.8,465.6 320.2,468.8 327.2,479 330.4,481.4 329.2,484 326.4,487.3 325.5,492.5 327.5,499.6 330.1,499 340.3,488.1 344.8,477.4 351.8,468.3 362.8,459.8 376.4,444.3 384.1,428.2 " fill-opacity="1"></polygon>
						</a>
						<a title="" data-original-title="Pará" xlink:href="./#/geral/membros/PA">
							<polygon id="mbc_PA" fill="#CCC" stroke="#FFFFFF" stroke-miterlimit="10" points="466.6,-132.6 461.3,-131.9 457.2,-135.5 447.6,-139.3 444.4,-138 440.3,-139.6 431.3,-135.5 424.4,-126.1 424.7,-123.7 423.9,-122.3 420.3,-123.1 409.6,-114.6 402.5,-100.5 400.5,-98.5 400.1,-101.7 404.6,-109.5 405.4,-114.5 403.9,-116.1 397.8,-113.3 396,-114.9 393.1,-117 387.8,-114.9 383.7,-114.9 381.7,-116.1 377.9,-112.5 375.1,-113.3 373.7,-116.9 378.7,-117.4 379.4,-120.6 380.5,-121 383.7,-118.1 389.8,-120.2 392.7,-118.1 399.2,-118.6 404.5,-122.8 406.6,-121.9 409.1,-123.1 415.3,-123.6 416.8,-125.6 416.5,-127.7 420.6,-131.8 426.5,-145.6 412.1,-148.5 404.3,-146.8 387.5,-150.2 382.6,-146.8 382.6,-142.3 380,-140.6 379.7,-132.4 382.1,-131.3 377.6,-129.2 377.2,-132.9 374.3,-133.2 367,-127.6 351.3,-119.5 352.1,-108.7 348.9,-112.8 348.9,-121 340.7,-122.2 353.8,-126.8 358,-131.3 347.6,-134.5 342.6,-146.1 341,-149.3 336.2,-151.7 332.8,-164 333.3,-168.1 327.2,-175.5 325.1,-180.1 315.2,-183.3 308.2,-188.3 302.9,-189.1 301.7,-192.3 301.7,-197.6 296.4,-202.1 283.3,-199.3 278,-199.3 274.3,-194.7 278.4,-190.6 278.9,-188.5 274.3,-187.3 262.8,-189.7 259.9,-187.6 251.7,-189.4 245.2,-184.1 239.9,-184.1 235,-180.9 231.3,-181.2 224.8,-175.4 220.1,-174.7 222,-158.1 223.9,-141.2 237.5,-121.9 250.1,-120.2 254.7,-120.2 264.5,-113.7 269.4,-109.5 247.7,-54.9 233.3,-20.6 238.7,-10.7 247.6,5.8 248,15.2 256.9,23.3 259,26.2 262.7,27.8 264.8,29.9 388.3,37.4 397.4,22.2 405.6,11.5 409.3,-2.3 407.2,-7.6 410.1,-16.3 410.1,-19.2 417,-23.3 425.7,-33 429.3,-45.8 426.1,-48.2 420.5,-49.4 425.3,-54.2 434.7,-63.4 441.2,-65 452.3,-81.4 455.9,-88.9 460.8,-94.2 460.8,-100.3 464.6,-105.3 464.9,-109.4 468.7,-115 468.7,-122.3 470.2,-128.4 " fill-opacity="1"></polygon>
						</a>
					</svg>
				</div>
				<div class="visible-tablet visible-xs">
					<label>Pesquisa por Estado</label>
					<div class="form-group">
						<select class="form-control" id="lstEstado" data-ng-model="estado" data-ng-change="SelecionarEstado(this);">
							<option value="">Escolha</option>
							<option value="AC">Acre</option>
							<option value="AL">Alagoas</option>
							<option value="AM">Amazonas</option>
							<option value="AP">Amapá</option>
							<option value="BA">Bahia</option>
							<option value="CE">Ceará</option>
							<option value="DF">Distrito Federal</option>
							<option value="ES">Espirito Santo</option>
							<option value="GO">Goiás</option>
							<option value="MA">Maranhão</option>
							<option value="MG">Minas Gerais</option>
							<option value="MS">Mato Grosso do Sul</option>
							<option value="MT">Mato Grosso</option>
							<option value="PA">Pará</option>
							<option value="PB">Paraiba</option>
							<option value="PE">Pernambuco</option>
							<option value="PI">Piauí</option>
							<option value="PR">Paraná</option>
							<option value="RJ">Rio de Janeiro</option>
							<option value="RN">Rio Grande do Norte</option>
							<option value="RO">Rondônia</option>
							<option value="RR">Roraima</option>
							<option value="RS">Rio Grande do Sul</option>
							<option value="SC">Santa Catarina</option>
							<option value="SE">Sergipe</option>
							<option value="SP">São Paulo</option>
							<option value="TO">Tocantins</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-xs-12 form-group">
				<h3 data-ng-bind="::estado"></h3>
				<div class="table-responsive">
					<table ng-table="tableParams" class="table table-striped table-hover">
						<tr ng-repeat="row in $data">
							<td data-title="'Nome'" style="width:50%" sortable="'Nome'">{{::row.Nome}}</td>
							<td data-title="'Email'" style="width:50%" sortable="'Email'">{{::row.Email}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</fieldset>
</div>