<div class="container" id="sobre-page">
    <br />
    <div id="info-geral">
        <h3 class="media-heading text-center">Conheça a Operação Política Supervisionada</h3>
        <br />
        <div class="form-group text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ZbkXBfm_s2g?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">O que é a OPS?</div>
                    <div class="panel-body">
                        <p class="text-justify style2">A <strong>Operação Política Supervisionada</strong> fiscaliza de forma detalhada os gastos realizados via CEAP ou CEAPS. Até o momento já foram economizados mais de R$ 5,5 milhões do dinheiro público graças a estas fiscalizações e às exigências feitas diretamente aos parlamentares para que devolvam o dinheiro público indevidamente utilizado.</p>
                        <p class="text-justify style2">A OPS conta com a ajuda de seus colaboradores, espalhados pelo Brasil, para o levantamento de informações necessárias para a conclusão de fiscalizações, como por exemplo, o envio de fotos de endereços suspeitos em diversas cidades do país. Além disso, qualquer um pode ser um fiscal dos gastos públicos e este site oferece dados suficientes para isso.</p>
                        <p class="text-justify style2">Apesar de ser especialista na fiscalização dos gastos com a verba indenizatória, a OPS também aceita denúncias de outros setores públicos, dando a elas o destino certo para que sejam apuradas pelas autoridades competentes.</p>
                        <p class="text-justify style2">O trabalho de fiscalização, coordenado por seu fundador, <a href="https://luciobig.com.br" onclick="return trackOutboundLink(this, true);" target="_blank">Lúcio Big</a>, é realizado voluntariamente por diversas pessoas Brasil afora.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">O que é CEAP?</div>
                    <div class="panel-body">
                        <p class="text-justify style2">CEAP é a sigla da <strong>Cota para o Exercício da Atividade Parlamentar</strong> (No Senado se chama CEAPS).</p>
                        <p class="text-justify style2">Trata-se de um recurso público disponível mensalmente aos deputados e senadores para o custeio de suas atividades parlamentares.</p>
                        <p class="text-justify style2">Apesar de ser dinheiro público, fato que já implicaria no seu enquadramento à Lei Nº 8.666, o uso da verba dispensa qualquer tipo de burocracia exigida pela lei de licitações, dando ao deputado e ao senador a livre escolha da empresa a ser contratada para fornecimento do produto ou serviço.</p>
                        <p class="text-justify style2">Não é raro encontrar irregularidades escandalosas, como locações de veículos feitas em padarias ou cópias de trabalhos escolares transformados em «pareceres jurídicos» generosamente pagos com o dinheiro do contribuinte.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Origem das Informações</div>
                    <div class="panel-body">
                        <p class="text-justify">
                            1. <strong>Câmara de Deputados</strong><br>
                            <ul>
                                <li><a href="http://www2.camara.leg.br/transparencia/cota-para-exercicio-da-atividade-parlamentar/dados-abertos-cota-parlamentar" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Cota parlamentar (XML)</a></li>
                                <li><a href="http://www.camara.leg.br/sitcamaraws/deputados.asmx" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Dados abertos (WebService)</a></li>
                            </ul>
                        </p>
                        <p class="text-justify">
                            2. <strong>Senado Federal</strong><br>
                            <ul>
                                <li><a href="https://www12.senado.leg.br/transparencia/dados-abertos/dados-abertos-ceaps" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Cota parlamentar (CSV)</a></li>
                                <li><a href="http://legis.senado.leg.br/dadosabertos/docs/index.html" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Dados abertos (WebService)</a></li>
                                <li><a href="http://www.senado.gov.br/transparencia/dadosAbertos/dadosAbertos.asp" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Dados abertos (CSV)</a></li>
                            </ul>
                        </p>
                        <p class="text-justify">
                            3. <strong>Informações dos Beneficiários</strong>
                            <ul>
                                <li><a href="http://www.receita.fazenda.gov.br/pessoajuridica/cnpj/cnpjreva/cnpjreva_solicitacao.asp" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Receita Federal</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Informações úteis</div>
                    <div class="panel-body">
                        <p class="text-justify">
                            1. <strong>Câmara de Deputados</strong><br>
                            <ul>
                                <li><a href="http://www2.camara.leg.br/participe/fale-conosco/perguntas-frequentes/cota-para-o-exercicio-da-atividade-parlamentar" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Legislação relacionada</a></li>
                                <li><a href="http://www2.camara.leg.br/legin/int/atomes/2009/atodamesa-43-21-maio-2009-588364-normaatualizada-cd-mesa.html" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Regras para uso da cota parlamentar (Ato da mesa Nº 43)</a></li>
                                <li><a href="http://www.camara.gov.br/cota-parlamentar/ANEXO_ATO_DA_MESA_43_2009.pdf" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Limites mensais por parlamentar</a></li>
                                <li><a href="http://www.camara.gov.br/cota-parlamentar" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Explorar a cota parlamentar na câmara</a></li>
                                <li><a href="http://www2.camara.leg.br/deputados/pesquisa" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Conheça os Deputados</a></li>
                            </ul>
                        </p>
                        <p class="text-justify">
                            2. <strong>Senado Federal</strong><br>
                            <ul>
                                <li><a href="https://www12.senado.leg.br/transparencia/leg/pdf/normas/APS-5-2014-compilado.pdf" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Regras para uso da cota parlamentar</a></li>
                                <li><a href="https://www12.senado.leg.br/transparencia/leg/legislacao-relacionada" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Legislação relacionada</a></li>
                                <li><a href="http://www25.senado.leg.br/web/transparencia/sen" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Explorar a cota parlamentar no senado</a></li>
                                <li><a href="http://www25.senado.leg.br/web/senadores" onclick="return trackOutboundLink(this, true);" target="_blank" rel="nofollow">Conheça os senadores</a></li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Contato</div>
                    <div class="panel-body">
                        <div data-ng-controller="ContatoController">
                            <p class="text-justify">
                                O site está em constante desenvolvimento.
                                Se deseja mais informações, ou colaborar com o projeto, ou se tiver qualquer dúvida, reclamação, crítica, ou sugestão,
                                entre em contato pelo formulario abaixo ou envie um e-mail para <a href="mailto:luciobig@ops.net.br">luciobig@ops.net.br</a>.
                            </p>
                            <br />

                            <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>

                            <form name="helpForm" novalidate role="form">
                                <div class="form-group">
                                    <label for="name">Nome</label>
                                    <span class="label label-danger" data-ng-show="submitted && helpForm.name.$error.required">Obrigatório!</span>
                                    <input type="text" name="name" data-ng-model="name" class="form-control input-sm" required />
                                </div>

                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <span class="label label-danger" data-ng-show="submitted && helpForm.email.$error.required">Obrigatório!</span>
                                    <span class="label label-danger" data-ng-show="submitted && helpForm.$error.email">Invalid email!</span>
                                    <input type="email" name="email" data-ng-model="email" class="form-control input-sm" required />
                                </div>

                                <div class="form-group">
                                    <label for="comments">Mensagem</label>
                                    <span class="label label-danger" data-ng-show="submitted && helpForm.comments.$error.required">Obrigatório!</span>
                                    <textarea name="comments" data-ng-model="comments" class="form-control input-sm" required></textarea>
                                </div>

                                <button data-ng-disabled="submitted" data-ng-click="submit(helpForm)" class="btn btn-primary btn-sm">{{ submitted ? 'Enviando&hellip;' : 'Enviar mensagem'}}</button>
                            </form>
                        </div>
                    </div>
                </div>

                @*<div class="panel panel-default">
                        <div class="panel-heading">Canais oficiais</div>
                        <div class="panel-body">
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/operacaopoliticasupervisionada">Página no Facebook</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/groups/operacaopoliticasupervisionada">Grupo no Facebook</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://twitter.com/LucioBig">Twitter</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://www.youtube.com/channel/UCfQ98EX3oOv6IHBdUNMJq8Q">YouTube</a></li>
                                <li><a target="_blank" rel="nofollow" href="https://luciobig.com.br">Blog</a></li>
                            </ul>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Contribua</div>
                    <div class="panel-body">
                        <p><strong>Com divulgação</strong></p>
                        <p>Divulgue o projeto para seus amigos e contatos.</p>
                        <br />

                        <p><strong>Com análises</strong></p>
                        <p class="text-justify">Você pode reportar suspeitas sobre quaisquer transações. Contribua detalhando qualquer movimentação ou padrão suspeito.</p>
                        <br />

                        <p><strong>Com código</strong></p>
                        <p class="text-justify">Esse é um projeto de código aberto, você pode contribuir com correções e novas funcionalidades.</p>
                        <p><a href="https://github.com/ops-org/operacao-politica-supervisionada">https://github.com/ops-org/operacao-politica-supervisionada</a></p>
                        <br />

                        <p><strong>Com doações</strong></p>
                        <p class="text-justify">Você poderá doar uma única vez ou programar para que suas doações sejam mensais. É possível cancelar as doações recorrentes a qualquer momento, sem pagamento de taxas ou multas.</p>

                        <a href="https://sites.google.com/site/doandoparaaops/doacao-via-deposito---banco-do-brasil">
                            <img src="https://luciobigdotcomdotbr.files.wordpress.com/2015/11/bb_100.png?w=100" alt="bb" width="100" height="56">
                        </a>

                        <a href="https://www.patreon.com/bePatron?patAmt=20&amp;u=192467">
                            <img src="https://luciobigdotcomdotbr.files.wordpress.com/2015/11/patreon_25.png?w=100" alt="patreon" width="100" height="56">
                        </a>

                        <a href="https://sites.google.com/site/doandoparaaops/doacao-mensal-paypal">
                            <img src="https://luciobigdotcomdotbr.files.wordpress.com/2015/11/paypal_25.png?w=100" alt="paypal" width="100" height="56">
                        </a>

                        <a href="https://sites.google.com/site/doandoparaaops/doacoes-via-pagseguro">
                            <img src="https://luciobigdotcomdotbr.files.wordpress.com/2015/11/pagseguro_25.png?w=100" alt="pagseguro" width="100" height="56">
                        </a>

                        <br /><br />
                        <div class="text-center">
                            <a target="_blank" class="btn btn-default btn-sm" href="https://sites.google.com/site/doandoparaaops/valores-recebidos-nos-ultimos-meses">Ver doações recebidas</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <p class="text-right"><a href="https://luciobig.com.br/o-que-e-ops/" target="_blank" class="btn btn-default btn-sm">Saiba mais sobre a OPS&nbsp;<i class="glyphicon glyphicon-menu-right"></i></a></p>
    </div>
</div>
